{% extends "::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/form-min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Edit a location
{% endblock %}

{% block adminBody %}
    <h1>Admin - Edit a location</h1>
    
    <form class="location" action="{{ path('gospelcenterAdmin_locations_edit', {'center': center.ref, 'location': location.id}) }}" method="post" {{ form_enctype(form) }}>
        <nav class="tools">
    		<input type="submit" class="buttonRounded" />
    		<a href="{{ path('gospelcenterAdmin_locations_delete', {'center': center.ref, 'location': location.id}) }}" class="buttonRounded">Delete</a>
    	</nav>
    	
        {{ form_widget(form.name, {'attr': {'placeholder': 'Name'} }) }}
        {{ form_widget(form.address1, {'attr': {'placeholder': 'Address line 1'} }) }}
        {{ form_widget(form.address2, {'attr': {'placeholder': 'Address line 2'} }) }}
        {{ form_widget(form.postalCode, {'attr': {'placeholder': 'Postal code'} }) }}
        {{ form_widget(form.city, {'attr': {'placeholder': 'City'} }) }}
        {{ form_widget(form.country, {'attr': {'placeholder': 'Country'} }) }}
        {{ form_rest(form) }}
    </form>
    
    
{% endblock %}