{% extends "::layout.html.twig" %}

{% block param %}
    {{ parent() }}
{% endblock %}

{% block classPage %}tv{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tv.min.js') }}"></script>
{% endblock %}

{% block body %}
    <header class="tv">
        <a href="{{ path('gospelcenterMedia') }}"><span>Gospel Center</span> <em>TV</em></a>
        <div>
            {% block tvHeader %}{% endblock %}
        </div>
    </header>
    
    {% block tv_body %}{% endblock %}

{% endblock %}


{% block footer %}
    <li><a href="{{ path('gospelcenterMedia') }}" {% if page == 'selections' %}class="current"{% endif %}>Selection</a></li>
    <li><a href="{{ path('gospelcenterMedia_speakers') }}" {% if page == 'speakers' %}class="current"{% endif %}>Speakers</a></li>
    <li><a href="{{ path('gospelcenterMedia_centers') }}" {% if page == 'centers' %}class="current"{% endif %}>Cities</a></li>
    <li><a href="{{ path('gospelcenterMedia_videos') }}" {% if page == 'videos' %}class="current"{% endif %}>Video</a></li>
    <li><a href="{{ path('gospelcenterMedia_audios') }}" {% if page == 'audios' %}class="current"{% endif %}>Audio</a></li>
{% endblock %}