<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Gospel Center TV{% endblock %}</title>
    <meta name="viewport"
          content="initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tv.css') }}" type="text/css"/>
    {% endblock %}


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/processed/mainNew.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/processed/tv.min.js') }}"></script>
    {% endblock %}

    {% block jsTemplating %}

    {% endblock %}

    <script id="addToWall" type="text/x-handlebars-template">
        {% raw %}

        <a href="{{ link }}">
            <div class="container">
                {{#if has_image }}
                <div class="image"
                     style="background-image: url('{{ image }}')"
                     data-bg="{{ image }}"
                     data-bg_2x="{{ image_2x }}"
                     data-bg_tablet="{{ image_tablet }}"
                     data-bg_tablet_2x="{{ image_tablet_2x }}"
                     data-bg_mobile="{{ image_mobile }}"
                     data-bg_mobile_2x="{{ image_mobile_2x }}"
                        ></div>
                <div class="gradient"></div>
                {{else}}
                <div class="bg"></div>
                {{/if}}
                <div class="hover">
                    <div class="picto_play"></div>
                    <span>{{ action }}</span>
                </div>
                <div class="details">
                    <h1>{{ title }}</h1>
                    <span>{{ subtitle }}</span>
                </div>
            </div>
        </a>

        {% endraw %}
    </script>

</head>
<body>
<section id="ruban_nav">
    {% include "::ruban_nav.html.twig" %}
    {% include "::login.html.twig" %}
</section>
<section id="page" class="{{ page }} {% block classPage %}{% endblock %}">
    <header>

        <a id="get_ruban" href=""></a>
        <a id="logo_mobile" class="mobile" href="{{ path('gospelcenterMedia') }}"></a>
        <a id="get_nav" class="mobile" href=""></a>

        <nav class="main">
            <ul class="nav">
                <li>
                    <a href="{{ path('gospelcenterMedia_speakers') }}">Orateurs</a>
                </li>
                <li>
                    <a href="{{ path('gospelcenterMedia_centers') }}">Villes</a>
                </li>
                <li class="logo">
                    <a href="{{ path('gospelcenterMedia') }}" id="logo_mini"></a>
                </li>
                <li>
                    <a href="{{ path('gospelcenterMedia_videos') }}">Vidéos</a>
                </li>
                <li>
                    <a href="{{ path('gospelcenterMedia_audios') }}">Audios</a>
                </li>
            </ul>
        </nav>

    </header>
    {% block home_title %}{% endblock %}
    <section id="container" class="{{ page }}">
        {% block body %}
        {% endblock %}
    </section>

    {% block footer %}{% endblock %}
</section>
</body>
</html>
