{% extends "::layout.html.twig" %}

{% block param %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tv.min.js') }}"></script>
{% endblock %}


{% block footer %}
    <li><a href="{{ path('gospelcenterMedia') }}" {% if page == 'selections' %}class="current"{% endif %}>Selection</a></li>
    <li><a href="{{ path('gospelcenterMedia_speakers') }}" {% if page == 'speakers' %}class="current"{% endif %}>Orators</a></li>
    <li><a href="">Cities</a></li>
    <li><a href="{{ path('gospelcenterMedia_videos') }}" {% if page == 'videos' %}class="current"{% endif %}>Video</a></li>
    <li><a href="">Audio</a></li>
{% endblock %}