<section class="tab autoScroll">

    <nav class="sub_nav">
        {% spaceless %}
            <ul class="complex">
                <li>
                    <a href="#minis" class="current focus">
                        <h1>Minis</h1>

                        <h2>0-3 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#kids">
                        <h1>Kids</h1>

                        <h2>4-6 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#teens">
                        <h1>Teens</h1>

                        <h2>7-12 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#full-pack">
                        <h1>Full Pack</h1>

                        <h2>1-12 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#youth">
                        <h1>Gospel Youth</h1>

                        <h2>13-24 ans</h2>
                    </a>
                </li>
            </ul>
        {% endspaceless %}
    </nav>

    <article class="tab blog-style active" id="minis">

        <h1>Gospel Minis</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/minis.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


        <h2 class="underline"><span>Minicell'</span></h2>

        <p>Programme d’éveil à la foi pour les touts petits donné par toute une équipe d’animatrices motivées ! Chaque
            dimanche, après la louange, un des parents accompagne son enfant dans le groupe et reste environ 15mn pour
            vivre ce temps avec lui. Un moment ludique, chaleureux, qui encourage ces juniors à entrer dans une relation
            toute en douceur avec Dieu ! Que ce soit au travers de petites chansons, de découvertes visuelles et
            tactiles, un rendez-vous privilégié à ne pas manquer !</p>

        <h2 class="underline"><span>Garderie</span></h2>

        <p>La garderie prend le relais à la suite de l’activité Minicell !</p>

        <p>Des jeux, des histoires, une collation … tout pour ravir les yeux et le cœur de ces tout-petits !</p>


    </article>

    <article class="tab blog-style" id="kids">

        <h1>Gospel Kids</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/kids.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


        <p>Dieu n’est pas qu’une affaire d’adultes, bien au contraire ! Et c’est ce que chaque enfant pourra découvrir
            chaque semaine !</p>

        <p>Accompagnés par des responsables dynamiques, ce sont des histoires de la Bible passionnantes qu’ils
            découvriront, des bricolages, des jeux, des supers amitiés !</p>

        <p>Parce que les enfants sont l'église d'aujourd’hui!</p>

    </article>

    <article class="tab blog-style" id="teens">

        <h1>Gospel Teens</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/teens.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <p>Nous désirons que chaque enfant entre la 5 et 8ème H expérimente la présence et la puissance de Dieu !</p>

        <p>Comprendre l’amour de Dieu, l’autorité que nous avons en Lui et Sa vision pour notre vie sont des réalités à
            découvrir au travers des messages, des temps de prière, des moments fun, des rires et des amitiés ! Si tu
            aimes les défis, tu ne seras pas déçu(e) ! On se réjouit de te voir aux WARRIORS</p>

    </article>

    <article class="tab blog-style" id="full-pack">

        <h1>Full Pack</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/full-pack.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <h2 class="underline"><span>Une célébration de A à Z</span></h2>

        <p>LOUANGE * SKETCH * ANIMATION * COLLATION et pleins d'autres surprises encore !</p>

        <p>Une équipe de jeunes motivés est à l’œuvre pour concocter un programme délirant qui fera sortir vos enfants
            du lit sans souci !</p>

        <p>Chaque dernier dimanche du mois à 18h00</p>

    </article>


    <article class="tab blog-style" id="youth">

        <h1>Gospel Youth</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/gospel-youth.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <p>Le Gospel Youth Annecy c'est le groupe de jeunes du Gospel Center Annecy. On est des jeunes de 13 ans à 20
            ans qui voulons découvrir des choses nouvelles et avancer dans notre relation avec Dieu.</p>

        <p>On se retrouve périodiquement le samedi dans la journée ou les vendredi soirs à l'espace 34. Passionnés,
            créatifs, et motivés, notre désir est de faire la différence dans ce monde en suivant l'exemple de
            Jésus!</p>

        <article class="frame">
            <h1>Plus d'infos</h1>

            <p><a href="https://www.facebook.com/GospelCenterAnnecyYouth" target="_blank">sur notre page facebook</a>
            </p>
        </article>

    </article>

</section>