<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Gospel Center ?</title>
    <meta name="viewport"
          content="initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    <link rel="stylesheet" href="{{ asset('css/error.css') }}" type="text/css"/>

    <script type="text/javascript" src="{{ asset('js/mainNew.min.js') }}"></script>

</head>
<body>
<section id="page" class="simpleHeader">
    <header>


        <nav class="main">
            <a id="logo" href="/"></a>
            <ul class="nav">
                {#<li class="home"><a href="/">Gospel Center</a></li>#}
                {% spaceless %}
                    {% include "::nav/centers.html.twig" %}
                {% endspaceless %}
            </ul>
            <a id="get_nav" href=""></a>
        </nav>

    </header>
    <h1 class="titlePage"><span>{{ status_code }} {{ status_text }}</span></h1>

    <h2 class="slogan">Sorry, this page doesn't exist !</h2>

    <a href="/">Return to the home page</a>
</section>
</body>
</html>