{% extends "::adminNew.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/addImage.min.js') }}"></script>
{% endblock %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Add a slide
{% endblock %}

{% block adminTitle %}<h1>Add a slide</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_slides', {'center': center.ref}) }}">Slides</a>
{% endblock %}

{% block adminBody %}
    
    <form class="slide" action="{{ path('gospelcenterAdmin_slides_add', {'center': center.ref}) }}" method="post" {{ form_enctype(form) }}>
    	
    	{{ form_widget(form.image.file) }}
    	{{ form_errors(form.image.file) }}
    	
        {{ form_widget(form.title, {'attr': {'placeholder': 'Title'} }) }}
        {{ form_errors(form.title) }}
        
        {{ form_widget(form.text, {'attr': {'placeholder': 'Text', 'class': 'elastic'} }) }}
        {{ form_errors(form.text) }}
        
        {{ form_widget(form.link, {'attr': {'placeholder': 'Link'} }) }}
        {{ form_errors(form.link) }}
        
        {{ form_widget(form.labelLink, {'attr': {'placeholder': 'Link label'} }) }}
        {{ form_errors(form.labelLink) }}
        
        {{ form_widget(form.page) }}
        {{ form_errors(form.page) }}
        
        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Add a slide"/>
    </form>
    
    
{% endblock %}