{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Delete a slide
{% endblock %}

{% block adminTitle %}<h1>Delete a slide</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_slides', {'center': center.ref, 'domain': center.domain}) }}">Slides</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_slides', {'center': center.ref, 'domain': center.domain}) }}">Cancel</a>
{% endblock %}

{% block adminBody %}

    <form class="delete"
          action="{{ path('gospelcenterAdmin_slides_delete', {'center': center.ref, 'domain': center.domain, 'slide': slide.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <p>Are you sure you want to delete the slide:</p>
        <section class="details">
            <h1>{{ slide.title }}</h1>

            <p>{{ slide.text }}</p>
        </section>

        <input type="submit" class="buttonLink" value="Yes"/>

        <a class="buttonLink" href="{{ path('gospelcenterAdmin_slides', {'center': center.ref, 'domain': center.domain}) }}">No</a>

        {{ form_rest(form) }}

    </form>

{% endblock %}