{% extends "::adminLocalNew.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    
    {% if slide.image %}
        <script type="text/javascript" src="{{ asset('js/editImage.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('js/addImage.min.js') }}"></script>
    {% endif %}
    
{% endblock %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Edit a slide
{% endblock %}

{% block adminTitle %}<h1>Edit a slide</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_slides', {'center': center.ref}) }}">Slides</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_slides_delete', {'center': center.ref, 'slide': slide.id}) }}"
       class="delete">Delete</a>
    <a href="{{ path('gospelcenterAdmin_slides', {'center': center.ref}) }}">Cancel</a>
{% endblock %}

{% block adminBody %}
    
    <form class="slide" action="{{ path('gospelcenterAdmin_slides_edit', {'center': center.ref, 'slide': slide.id}) }}" method="post" {{ form_enctype(form) }}>
    	
    	{{ form_widget(form.image.file) }}
        {{ form_errors(form.image.file) }}
        {% if slide.image %}
        	<div id="editImage" data-input="{{ form.image.file.vars.id }}">
        	    <img src="{{ asset(slide.image.webPath) }}" alt="{{ slide.image.alt }}" />
        	</div>
        {% endif %}
    	
        {{ form_widget(form.title, {'attr': {'placeholder': 'Title'} }) }}
        {{ form_errors(form.title) }}
        
        {{ form_widget(form.text, {'attr': {'placeholder': 'Text', 'class': 'elastic'} }) }}
        {{ form_errors(form.text) }}
        
        {{ form_widget(form.link, {'attr': {'placeholder': 'Link'} }) }}
        {{ form_errors(form.link) }}
        
        {{ form_widget(form.labelLink, {'attr': {'placeholder': 'Link label'} }) }}
        {{ form_errors(form.labelLink) }}
        
        {{ form_widget(form.page) }}
        {{ form_errors(form.page) }}
        
        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Save changes"/>
    </form>
    
    
{% endblock %}