{% extends "gospelcenterPageBundle::admin.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Slides
{% endblock %}

{% block gospelcenterAdminPages_body %}
    
    <table class="main">
        <thead>
            <tr>
                <th>Title</th>
                <th>Page</th>
            </tr>
        </thead>
        <tbody>
            {% for slide in slides %}
                <tr>
                    <td><a href="{{ path('gospelcenterAdmin_slides_edit', {'slide': slide.id, 'center': center.ref}) }}">{{ slide.title }}</a></td>
                    <td><a href="{{ path('gospelcenterAdmin_slides_edit', {'slide': slide.id, 'center': center.ref}) }}">{% if slide.page.title %}{{ slide.page.title }}{% endif %}</a></td>
                </tr>
            {% else %}
                <tr><td colspan="2">There are no slides.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}