{% extends "::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/form-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/editImage-min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Edit an image
{% endblock %}

{% block adminBody %}
    <h1>Admin - Edit an image</h1>
    
    
    
    <form class="image" action="{{ path('gospelcenterAdmin_images_edit', {'center': center.ref, 'image': image.id}) }}" method="post" {{ form_enctype(form) }}>
        <nav class="tools">
    		<input type="submit" class="buttonRounded" />
    		<a href="{{ path('gospelcenterAdmin_images_delete', {'center': center.ref, 'image': image.id}) }}" class="buttonRounded">Delete</a>
    	</nav>
    	
    	{{ form_widget(form.file) }}
    	<div id="editImage" data-input="{{ form.file.vars.id }}">
    	    <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" />
    	</div>
    	
        {{ form_widget(form.title, {'attr': {'placeholder': 'Title'} }) }}
        {{ form_widget(form.type, {'attr': {'placeholder': 'Type'} }) }}
        {{ form_widget(form.description, {'attr': {'placeholder': 'Description'} }) }}
        {{ form_rest(form) }}
    </form>
    
    
{% endblock %}