{% extends "::admin.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Images
{% endblock %}

{% block adminBody %}
    <h1>Admin - Images</h1>
    
    <section class="tools">
        <a href="{{ path('gospelcenterAdmin_images_add', {'center': center.ref}) }}">Add an image</a>
    </section>
    
    <nav class="sorting_nav">
        <ul>
            <li><a href="{{ path('gospelcenterAdmin_images', {'center': center.ref}) }}" {% if tab == 'images' %}class="current"{% endif %}>{{ center.name }}'s images</a></li>
            <li><a href="{{ path('gospelcenterAdmin_images_all', {'center': center.ref}) }}" {% if tab == 'imagesAll' %}class="current"{% endif %}>All images</a></li>
        </ul>
    </nav>
    <table class="main">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td><a href="{{ path('gospelcenterAdmin_images_edit', {'image': image.id, 'center': center.ref}) }}">{{ image.title }}</a></td>
                    <td><a href="{{ path('gospelcenterAdmin_images_edit', {'image': image.id, 'center': center.ref}) }}">{{ image.createdDate|date('d F Y') }}</a></td>
                    <td><a href="{{ path('gospelcenterAdmin_images_edit', {'image': image.id, 'center': center.ref}) }}">{{ image.type }}</a></td>
                </tr>
            {% else %}
                <tr><td colspan="5">There are no image.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}