<section class="header gray">

    <article>
        {% spaceless %}
            <div>
                <h1>{{ 'gc.title.positive'|trans }}</h1>

                <p>{{ 'gc.page.about.positive'|trans }}</p>
            </div>

            <div>
                <h1>{{ 'gc.title.practice'|trans }}</h1>

                <p>{{ 'gc.page.about.practice'|trans }}</p>
            </div>

            <div>
                <h1>{{ 'gc.title.powerful'|trans }}</h1>

                <p>{{ 'gc.page.about.powerful'|trans }}</p>
            </div>
        {% endspaceless %}
    </article>

</section>


<section class="tab autoScroll">

    <nav class="sub_nav">
        {% spaceless %}
            <ul class="classic">
                <li><a href="#about" class="current focus">{{ 'gc.page.about.nav.about'|trans }}</a></li>
                <li><a href="#leadership">{{ 'gc.page.about.nav.leadership'|trans }}</a></li>
                <li><a href="#staff">{{ 'gc.page.about.nav.staff'|trans }}</a></li>
                <li><a href="#what-we-believe">{{ 'gc.page.about.nav.believe'|trans }}</a></li>
                <li><a href="#music">{{ 'gc.page.about.nav.music'|trans }}</a></li>
            </ul>
        {% endspaceless %}
    </nav>

    <article class="tab blog-style active" id="about">

        <h1>A place where miracles happen!</h1>

        {% set aboutImg = 'bundles/gospelcenterpage/images/a-propos.jpg' %}

        <img class="big"
             src="{{ asset(aboutImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(aboutImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(aboutImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(aboutImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(aboutImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(aboutImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(aboutImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(aboutImg)| imagine_filter('blog_big_mobile_2x') }}">


        <h2 class="underline"><span>Who</span></h2>

        <p>The Gospel Center Lausanne is a member of the <a target="_blank"
                                                            href="http://www.evangelique.ch">Réseau évangélique
                suisse</a> (Swiss evangelical network), of the <a target="_blank" href="http://www.lafree.ch">Fédération
                romande des Églises évangéliques</a> (the swiss federation of French-speaking evangelical churches) and
            is linked to the <a
                    target="_blank"
                    href="http://www.gospel-wave.org">Gospel Wave movement.</a></p>

        <h2 class="underline"><span>How</span></h2>

        <p>The Gospel Center has the desire to live the Gospel in the most relevant way, also in the area of healing and
            miracles.</p>

        <p>The Gospel Center envisions a communication through modern technology in order to impact people in their
            everyday lives. Our audiovisual media as well as our set of activities pursue this aim.</p>

        <p>We are convinced that there are various ways of living out the Christian life, while simple moments of life
            shared together are just as enriching. Our Sunday evening celebrations are just one way of living out this
            Christian lifestyle.</p>

        <h2 class="underline"><span>Why</span></h2>

        <p>The Gospel Center exists to stimulate, develop and reveal a positive, practical and powerful way of living
            based on Jesus through the Bible. We believe that the Christian life is more than just Sunday celebrations
            and church programs, but it is also lived out during the rest of the week, in our various activities as well
            as our workplaces.</p>

        <p>The Gospel Center wishes to offer an environment where fellowship is a key element. An environment where the
            faith of everyone can grow in a healthy and balanced way as much in the doing than in the being. We desire
            to see God move through miracles, healings and transformed lives.</p>

        <h2 class="underline"><span>Structure</span></h2>

        <p>The Gospel Center works for and through its “bases”, groups of 4 to 7 people based on geographical area and
            interests. The aim is to offer places of reasonable size to develop relationships and spiritual growth. The
            ”bases” focus as much on shared activities (sports, excursions, cultural activities, etc.) as on time spent
            in and around the Bible. The Gospel Center wants to offer the possibility to each and every one to get
            involved according to his/her abilities, time and motivation in the life of the ”bases” and from there in
            the various church activities such as the Sunday evening celebrations.</p>

        <h2 class="underline"><span>Finances</span></h2>

        <p>The Gospel Center Lausanne receives no government support and is a non-profit organization. All the running
            costs are being covered by the free commitment of everyone. Our accounts are approved by the General
            Assembly after having been checked by a trustee.</p>

    </article>

    <article class="tab default" id="leadership">

        {% spaceless %}

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/MarcGallay.jpg') }}"
                     alt="Marc Gallay"/>
                <section>
                    <h1>Marc & Christine Gallay</h1>

                    <p>Pastors</p>
                </section>

            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/Jean-PhilippeBaertschi.jpg') }}"
                     alt="Jean-Philippe Bärtschi"/>
                <section>
                    <h1>Jean-Philippe Bärtschi</h1>

                    <p>Pastor trainee</p>
                </section>
            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/PatrickBigler.jpg') }}"
                     alt="Patrick Bigler"/>
                <section>
                    <h1>Patrick Bigler</h1>

                    <p>Core Leadership</p>
                </section>
            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/AlixBingle.jpg') }}"
                     alt="Alix Bingle"/>
                <section>
                    <h1>Alix Bingle</h1>

                    <p>Core Leadership</p>
                </section>
            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/MarcRapelli.jpg') }}"
                     alt="Marc Rapelli"/>
                <section>
                    <h1>Marc Rapelli</h1>

                    <p>Core Leadership</p>
                </section>
            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/TimotheeRochat.jpg') }}"
                     alt="Timothée Rochat"/>
                <section>
                    <h1>Timothée Rochat</h1>

                    <p>Core Leadership</p>
                </section>
            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/FionaBenavides.jpg') }}"
                     alt="Fiona Benavides"/>
                <section>
                    <h1>Fiona Benavides</h1>

                    <p>Core Leadership</p>
                </section>
            </article>

            <article class="people">
                <img class="radius round"
                     src="{{ asset('bundles/gospelcenterpage/images/leadership/lausanne/YoannGern.jpg') }}"
                     alt="Yoann Gern"/>
                <section>
                    <h1>Yoann Gern</h1>

                    <p>Core Leadership</p>
                </section>
            </article>
        {% endspaceless %}

    </article>

    <article class="tab default" id="staff">

        <h2 class="slogan">The staff of the Gospel Center Lausanne is a dynamic team that puts effort towards quality
            work.</h2>

        <article class="frame">
            <h1>Pastoral Team</h1>

            <p>Marc Gallay</p>

            <a href="mailto:info@gc-lausanne.org">info@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Children and Youth</h1>

            <p>Fiona Benavides</p>

            <a href="mailto:gospelkids@gc-lausanne.org">gospelkids@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Music</h1>

            <p>Gaël Dufour</p>

            <a href="mailto:worship@gc-lausanne.org">worship@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Bases</h1>

            <p>Chantal Cioffi</p>

            <a href="mailto:bases@gc-lausanne.org">bases@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Technic</h1>

            <p>David van der Maas</p>

            <a href="mailto:technique@gc-lausanne.org">technique@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Multimedia</h1>

            <p>Yoann Gern</p>

            <a href="mailto:multimedia@gc-lausanne.org">multimedia@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Welcome</h1>

            <p>Vincent Spycher</p>

            <a href="mailto:welcome@gc-lausanne.org">welcome@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Prayer team</h1>

            <p>Nathalie Pecorini</p>

            <a href="mailto:equipiersdepriere@gc-lausanne.org">equipiersdepriere@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>New christians</h1>

            <p>David Klopfenstein</p>

            <a href="mailto:newchristians@gc-lausanne.org">newchristians@gc-lausanne.org</a>
        </article>

        <article class="frame">
            <h1>Coordination Gospel Center Lausanne</h1>

            <p>Hélène Dufour</p>

            <a href="mailto:info@gc-lausanne.org">info@gc-lausanne.org</a>
        </article>

    </article>

    <article class="tab blog-style" id="what-we-believe">

        <h1>What we believe</h1>

        {% set believeImg = 'bundles/gospelcenterpage/images/confession.jpg' %}

        <img class="big"
             src="{{ asset(believeImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(believeImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(believeImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(believeImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(believeImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(believeImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(believeImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(believeImg)| imagine_filter('blog_big_mobile_2x') }}">

        <p>We believe that the Bible is inspired by God. The Word of God is the single basis of our faith and doctrine
            and leads our actions.</p>

        <p>We believe in the unique God who exists in three distinct identities: the Father, the Son Jesus-Christ and
            the Holy-Spirit.</p>

        <p>We believe that everyone has sinned and fallen short of the glory of God. We believe that sinners are saved
            by grace, through repentance and faith in the perfect and sufficient sacrifice of Jesus at the cross.</p>

        <p>We believe in a Church, not as a human institution but as the gathering of believers around their chief:
            Jesus-Christ.</p>

    </article>

    <article class="tab blog-style" id="music">

        <h1>Music focused on Jesus</h1>

        {% set musicImg = 'bundles/gospelcenterpage/images/musique_lausanne.jpg' %}

        <img class="big"
             src="{{ asset(musicImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(musicImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(musicImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(musicImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(musicImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(musicImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(musicImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(musicImg)| imagine_filter('blog_big_mobile_2x') }}">

        <p>We believe in the importance and the key role of music in the Church. Worship in a modern style and focused
            on Jesus is an essential part of our celebrations.</p>

        <p>We want to allow each one to meet God through worship and allow Him to manifest Himself as we give Him space
            to move. We desire to see an open heaven, lives transformed and sickness healed in the tangible presence of
            God. The values we focus on in our worship teams are excellence, dedication to God, listening to the Holy
            Spirit and service. Our vision is also to train musicians, singers and technicians in worship ministry, and
            share with them what God has given us for years as well as equip them for service.</p>

        <p>Our different groups are invited on a regular basis to lead worship in various events in Switzerland and in
            Europe. Many musicians serving in the Gospel Center Lausanne also play in other groups outside of church.
            The Gospel Center Lausanne encourages musicians in their gifts wherever they go. We want to create a
            platform where they feel good and can develop themselves in their full potential.</p>

        <p>Leading music in the church is our greatest privileged; we believe great things are ahead of us ! The best is
            yet to come !</p>

        <article class="frame">
            <h1>Gaël Dufour</h1>

            <p>Head of Worship</p>

            <p><a href="mailto:worship@gc-lausanne.org">worship@gc-lausanne.org</a></p>
        </article>

        <h2 class="underline"><span>Gospel Center Band "LIVE"</span></h2>

        <h3>I am free / Je suis libre</h3>

        <p>This album was recorded live during the IAHM (International Association of Healing Ministries) conference in
            Lausanne in 2011. It is the fruit of true worship moments we experienced during this event. Those songs are
            sung in both French and English.</p>

        <a target="_blank"
           href="http://www.gospel-diffusion.com/index.php/musique/gospel_center_band_i_am_free_je_suis_libre_2116.html">Buy
            this album</a>


    </article>


</section>