<section class="tab autoScroll">

    <nav class="sub_nav">
        {% spaceless %}
            <ul class="complex">
                <li>
                    <a href="#minis" class="current focus">
                        <h1>Minis</h1>

                        <h2>Preschool</h2>
                    </a>
                </li>
                <li>
                    <a href="#kids">
                        <h1>Kids</h1>

                        <h2>4-7 years old</h2>
                    </a>
                </li>
                <li>
                    <a href="#teens">
                        <h1>Teens</h1>

                        <h2>7-13 years old</h2>
                    </a>
                </li>
                <li>
                    <a href="#full-pack">
                        <h1>Full Pack</h1>

                        <h2>0-12 years old</h2>
                    </a>
                </li>
                <li>
                    <a href="#youth">
                        <h1>Gospel Youth</h1>

                        <h2>13-20 years old</h2>
                    </a>
                </li>
            </ul>
        {% endspaceless %}
    </nav>

    <article class="tab blog-style active" id="minis">

        <h1>Gospel Minis</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/minis.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


        <h2 class="underline"><span>Minicell'</span></h2>

        <p>Faith-awakening programme for toddlers given by motivated leaders! Every Sunday, after worship, one of the
            parent accompany the child to this group and stay for roughly 15mn to experience this time together. A fun
            and friendly time meant to encourage toddlers to enter gently into a relationship with God! May it be
            through songs, visual and tactile discoveries, this Minicell’ programme is a unique place not to miss!</p>

        <h2 class="underline"><span>Garderie</span></h2>

        <h3>The English version will come soon.</h3>

        <p>La garderie prend le relais à la suite de l’activité Minicell !</p>

        <p>Des jeux, des histoires, une collation … tout pour ravir les yeux et le cœur de ces tout-petits !</p>


    </article>

    <article class="tab blog-style" id="kids">

        <h1>Gospel Kids</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/kids.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


        <p>God is not for adults only, on the contrary! And that’s exactly what each child will find out every week!</p>

        <p>Accompanied by dynamic leaders, those children will discover fascinating Bible stories, will make friends and
            can play games and make crafts.</p>

        <p>Because children are the Church of today!</p>

    </article>

    <article class="tab blog-style" id="teens">

        <h1>Gospel Teens</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/teens.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <h3>The English version will come soon.</h3>

        <p>Les Teens, c’est l’endroit à ne pas manquer pour les jeunes de la 5ème à la 8ème Harmos. Expérimenter la
            présence et la puissance de Dieu, vivre des moments de défis, connaître l’amour de Dieu et développer de
            nouvelles amitiés sont des points clés pour cette équipe.</p>

        <p>Tout nouveau tout chaud, les teens c’est aussi « Out of the Box ». Un concept innovant qui a lieu une fois
            par mois. Out of the Box, c’est sortir de sa boîte et de sa zone de confort avec un orateur du Gospel Center
            qui vient partager son cœur et challenger cette jeune génération.</p>

    </article>

    <article class="tab blog-style" id="full-pack">

        <h1>Full Pack</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/full-pack.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <h2 class="underline"><span>A complete celebration</span></h2>

        <p>PRAISE, SKETCH, ANIMATION, SNACK and many more surprises!</p>

        <p>A team of motivated youths are working hard to prepare a crazy programme that will motivate your children and
            will help them start the week well!</p>

        <p>Every last Sunday of the month at 6pm (with exceptions).</p>

    </article>


    <article class="tab blog-style" id="youth">

        <h1>Gospel Youth</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/gospel-youth.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <h3>The English version will come soon.</h3>

        <p>Reste connecté sur facebook et branché à ton whats’app pour être informé des soirées et events du Gospel
            Youth ! Dès 13 ans, vendredi ou samedi, de 19h30 à 21h30, à Provence 4, au bowling ou au McDo, le Gospel
            Youth fait peau neuve et n’attend plus que toi !</p>

        <p>Du fun, des moments de partages, des délires, la présence de Dieu et de la bonne louange seront au menu de
            ces folles soirées ! Notre rêve est de faire la différence dans ce monde en suivant l’exemple de Jésus,
            c’est le tien aussi ? Alors connecte-toi !</p>

        <article class="frame">
            <h1>Plus d'infos</h1>

            <p>sur notre page facebook</p>

            <p><a href="https://facebook.com/gylausanne" target="_blank">facebook.com/GYLausanne</a></p>
        </article>

    </article>

</section>