<section class="tab autoScroll">

    <nav class="sub_nav">
        {% spaceless %}
            <ul class="complex">
                <li>
                    <a href="#minis" class="current focus">
                        <h1>Minis</h1>

                        <h2>0-3</h2>
                    </a>
                </li>
                <li>
                    <a href="#kids">
                        <h1>Kids</h1>

                        <h2>4-7</h2>
                    </a>
                </li>
                <li>
                    <a href="#heroes">
                        <h1>Heroes</h1>

                        <h2>7-12</h2>
                    </a>
                </li>
                <li>
                    <a href="#full-pack">
                        <h1>Full Pack</h1>

                        <h2>0-12</h2>
                    </a>
                </li>
                <li>
                    <a href="#teens">
                        <h1>Teens</h1>

                        <h2>12-16</h2>
                    </a>
                </li>
                <li>
                    <a href="#youth">
                        <h1>Youth</h1>

                        <h2>16-25</h2>
                    </a>
                </li>
            </ul>
        {% endspaceless %}
    </nav>

    <article class="tab active" id="minis">
        <article class="blog-style">

            <h1>Gospel Minis</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/minis.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


            <h2 class="underline"><span>Minicell'</span></h2>

            <p>Faith-awakening programme for toddlers given by motivated leaders! Every Sunday, after worship, one of
                the
                parent accompany the child to this group and stay for roughly 15mn to experience this time together. A
                fun
                and friendly time meant to encourage toddlers to enter gently into a relationship with God! May it be
                through songs, visual and tactile discoveries, this Minicell’ programme is a unique place not to
                miss!</p>

            <h2 class="underline"><span>Garderie</span></h2>

            <p>The childcare group takes over after the minicell’ activity. Games, stories, snack… simply everything to
                delight the eyes and hearts of these little-ones!</p>

            {% if dates_minis|length %}

                <h3>Next dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_minis %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}

        </article>
    </article>

    <article class="tab" id="kids">
        <article class="blog-style">

            <h1>Gospel Kids</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/kids2.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


            <p>God is not for adults only, on the contrary! And that’s exactly what each child will find out every
                week!</p>

            <p>Accompanied by dynamic leaders, those children will discover fascinating Bible stories, will make friends
                and
                can play games and make crafts.</p>

            <p>Because children are the Church of today!</p>

            {% if dates_kids|length %}

                <h3>Next dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_kids %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}

        </article>

    </article>

    <article class="tab" id="heroes">
        <article class="blog-style">

            <h1>Gospel Heroes</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/heroes.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <p>The Heroes, is a place not to be missed for young people of 5th to 8th grade. Key elements for this
                group is to experience the presence and power of God as well as challenging moments, know the love of
                God
                and develop new friendships.</p>

            <p>Brand new : the Teens is also "Out of the Box". An innovative concept that takes place once a month. Out
                of the Box means coming out of your own box, out of your comfort zone with a speaker from the Gospel
                Center
                who shares his/her heart and challenges this young generation.</p>

            {% if dates_heroes|length %}

                <h3>Next dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_heroes %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}
        </article>
    </article>

    <article class="tab" id="full-pack">
        <article class="blog-style">

            <h1>Full Pack</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/full-pack.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <h2 class="underline"><span>A complete celebration</span></h2>

            <p>PRAISE, SKETCH, ANIMATION, SNACK and many more surprises!</p>

            <p>A team of motivated youths are working hard to prepare a crazy programme that will motivate your children
                and
                will help them start the week well!</p>

            <p>Every last Sunday of the month at 6pm (with exceptions).</p>

            {% if dates_fullPack|length %}

                <h3>Next dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_fullPack %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}
        </article>
    </article>

    <article class="tab" id="teens">
        <article class="blog-style">

            <h1>Gospel Teens</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/teens2.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <p>2016, une année de nouveau commencements ? Eh oui ! En exclusivité pour vous, un nouveau groupe d’ados
                vient
                de voir le jour au Gospel Center de Lausanne !</p>

            <p>Le Gospel Teens, c’est là où il faut aller, si tu as entre 12 et 16 ans, 2 vendredi par mois, de 18h30 à
                20h30, pour vivre des choses folles avec tes potes et un super team de responsables !</p>

            <p>Au menu, sandwich party (pique-nique tiré du sac), message percutant et actuel pour t’aider dans ta vie
                de
                tous les jours, jeux, temps en petits groupes pour aller plus loin et plein de belles surprises encore
                !</p>

            {% if dates_teens|length %}

                <h3>Next dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_teens %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}
        </article>
    </article>


    <article class="tab" id="youth">
        <article class="blog-style">

            <h1>Gospel Youth</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/gospel-youth.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <h3>T’as entre 16 et 25 ans ?</h3>

            <p>Envie de connaître Dieu, de vivre une vie qui vaut la peine et de sortir de ta routine ? Rejoins-nous 2
                fois
                par mois, le samedi soir dès 19h00 à l’Avenue de Provence 4, 5ème étage !</p>

            <p>Fun, moments de partages, délires, présence de Dieu et de la bonne louange seront au menu de ces folles
                soirées ! Notre rêve est de faire la différence dans ce monde en suivant l’exemple de Jésus, c’est le
                tien
                aussi ? Alors branche-toi en mode Gospel Youth !</p>

            <article class="frame">
                <h1>Pour nous suivre sur Facebook</h1>

                <p>une seule adresse :</p>

                <p><a href="https://facebook.com/gylausanne" target="_blank">facebook.com/GYLausanne</a></p>
            </article>
        </article>

        {% if dates_youth|length %}
            <section class="gray" id="events">

                <section class="default">

                    <h3>Next dates</h3>

                    {% for date in dates_youth %}

                        <a href="{{ path('gospelcenterEvents_event', {'event': date.event.id, 'center': center.ref, 'domain': center.domain}) }}"
                           class="events">
                            <section class="picture">
                                {% if date.event.picture %}
                                    <img alt="{{ date.event.picture.alt }}"
                                         src="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_low') }}"
                                         srcset="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_low') }} 2x"
                                         data-img="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture') }}"
                                         data-img_2x="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_2x') }}"
                                         data-img_tablet="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_tablet') }}"
                                         data-img_tablet_2x="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_tablet_2x') }}"
                                         data-img_mobile="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_mobile') }}"
                                         data-img_mobile_2x="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_mobile_2x') }}">

                                {% endif %}
                            </section>
                            <section class="detail">
                                <h1>{{ date.event.title }}</h1>
                                <time class="date">{{ date|dates(app.request.locale) }}</time>
                            </section>
                        </a>
                    {% endfor %}

                </section>

            </section>

        {% endif %}
    </article>

</section>