<section class="tab autoScroll">

    <nav class="sub_nav">
        {% spaceless %}
            <ul class="complex">
                <li>
                    <a href="#minis" class="current focus">
                        <h1>Minis</h1>

                        <h2>Preschool</h2>
                    </a>
                </li>
                <li>
                    <a href="#kids">
                        <h1>Kids</h1>

                        <h2>4-7 years old</h2>
                    </a>
                </li>
                <li>
                    <a href="#teens">
                        <h1>Teens</h1>

                        <h2>7-13 years old</h2>
                    </a>
                </li>
                <li>
                    <a href="#full-pack">
                        <h1>Full Pack</h1>

                        <h2>0-12 years old</h2>
                    </a>
                </li>
                <li>
                    <a href="#youth">
                        <h1>Gospel Youth</h1>

                        <h2>13-20 years old</h2>
                    </a>
                </li>
            </ul>
        {% endspaceless %}
    </nav>

    <article class="tab blog-style active" id="minis">

        <h1>Gospel Minis</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/minis.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


        <h2 class="underline"><span>Minicell'</span></h2>

        <p>Faith-awakening programme for toddlers given by motivated leaders! Every Sunday, after worship, one of the
            parent accompany the child to this group and stay for roughly 15mn to experience this time together. A fun
            and friendly time meant to encourage toddlers to enter gently into a relationship with God! May it be
            through songs, visual and tactile discoveries, this Minicell’ programme is a unique place not to miss!</p>

        <h2 class="underline"><span>Garderie</span></h2>

        <p>The childcare group takes over after the minicell’ activity. Games, stories, snack… simply everything to
            delight the eyes and hearts of these little-ones!</p>


    </article>

    <article class="tab blog-style" id="kids">

        <h1>Gospel Kids</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/kids.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


        <p>God is not for adults only, on the contrary! And that’s exactly what each child will find out every week!</p>

        <p>Accompanied by dynamic leaders, those children will discover fascinating Bible stories, will make friends and
            can play games and make crafts.</p>

        <p>Because children are the Church of today!</p>

    </article>

    <article class="tab blog-style" id="teens">

        <h1>Gospel Teens</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/teens.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <p>The Teens, is a place not to be missed for young people of 5th to 8th grade (Harmos). Key elements for this
            group is to experience the presence and power of God as well as challenging moments, know the love of God
            and develop new friendships.</p>

        <p>Brand new : the Teens is also "Out of the Box". An innovative concept that takes place once a month. Out
            of the Box means coming out of your own box, out of your comfort zone with a speaker from the Gospel Center
            who shares his/her heart and challenges this young generation.</p>

    </article>

    <article class="tab blog-style" id="full-pack">

        <h1>Full Pack</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/full-pack.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <h2 class="underline"><span>A complete celebration</span></h2>

        <p>PRAISE, SKETCH, ANIMATION, SNACK and many more surprises!</p>

        <p>A team of motivated youths are working hard to prepare a crazy programme that will motivate your children and
            will help them start the week well!</p>

        <p>Every last Sunday of the month at 6pm (with exceptions).</p>

    </article>


    <article class="tab blog-style" id="youth">

        <h1>Gospel Youth</h1>

        {% set customImg = 'bundles/gospelcenterpage/images/youth/lausanne/gospel-youth.jpg' %}

        <img class="big"
             src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
             srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
             data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
             data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
             data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
             data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
             data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
             data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

        <p>Stay connected on Facebook and WhatsApp to be notified of parties and events organized by the Gospel Youth!
            From age 13, Friday or Saturday between 7:30pm and 9:30pm. Where? Provence 4 or at the bowling or
            McDonalds,… The Gospel Youth, totally revamped, is waiting for you!</p>

        <p>On the menu of these crazy evenings: fun, times of sharing, the presence of God and good worship! Our dream
            is to make a difference in this world by following the example of Jesus. Is it also yours? Then get
            connected!</p>

        <article class="frame">
            <h1>More infos</h1>

            <p>on our Facebook Page</p>

            <p><a href="https://facebook.com/gylausanne" target="_blank">facebook.com/GYLausanne</a></p>
        </article>

    </article>

</section>