{% extends "gospelcenterPeopleBundle::layout.html.twig" %}

{% block adminTitle %}

    {% if tab == 'speakers' %}
        <h1 class="switch">{{ center.name }}'s speakers</h1>
    {% endif %}

    {% if tab == 'speakersAll' %}
        <h1 class="switch">All speakers</h1>
    {% endif %}

    <ul class="adminTitle">

        <li {% if tab == 'speakers' %}class="current"{% endif %}>
            <a href="{{ path('gospelcenterAdmin_speakers', {'center': center.ref}) }}">{{ center.name }}'s speakers</a>
        </li>
        <li {% if tab == 'speakersAll' %}class="current"{% endif %}>
            <a href="{{ path('gospelcenterAdmin_speakers_all', {'center': center.ref}) }}">All speakers</a>
        </li>

    </ul>
{% endblock %}

{% block adminListBody %}

    <table class="main">
        <thead>
        <tr>
            <th data-sort="string">Firstname<span>Firstname<div class="arrow"></div></span></th>
            <th data-sort="string">Lastname<span>Lastname<div class="arrow"></div></span></th>
            <th data-sort="string">Function<span>Function<div class="arrow"></div></span></th>
            <th data-sort="string">Language<span>Language<div class="arrow"></div></span></th>
        </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}

            {% set languages = '' %}

            {% for key, language in speaker.person.languages %}

                {% if key != 0 and key != (speaker.person.languages|length -1) %}
                    {% set languages = languages ~ ', ' %}
                {% elseif key != 0 and key == (speaker.person.languages|length -1) %}
                    {% set languages = languages ~ 'gc.generic.and'|trans %}
                {% endif %}

                {% set languages = languages ~ language.ref|trans({}, 'lang') %}

            {% endfor %}

            {% set link = path('gospelcenterAdmin_persons_edit', {'person': speaker.person.id, 'center': center.ref}) %}

            <tr>
                <td class="em">
                    <a href="{{ link }}">
                        <span>{{ speaker.person.firstname }}</span>
                    </a>
                </td>
                <td class="em">
                    <a href="{{ link }}">
                        <span>{{ speaker.person.lastname }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        {% if speaker.person.function %}
                            <span>{{ speaker.person.function }}</span>
                        {% else %}
                            <span>--</span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        {% if languages %}
                            <span>{{ languages }}</span>
                        {% else %}
                            <span>--</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                <td colspan="4">There are no speakers.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}