{% extends "::adminGlobalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Add a page
{% endblock %}

{% block adminTitle %}<h1>Add a page</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdminGlobal_pages') }}">Pages</a>
{% endblock %}

{% block adminBody %}

    <form novalidate class="page" action="{{ path('gospelcenterAdminGlobal_pages_add') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.ref) }}
        {{ form_errors(form.ref) }}

        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}

        {{ form_widget(form.slogan) }}
        {{ form_errors(form.slogan) }}

        {{ form_widget(form.language) }}
        {{ form_errors(form.language) }}

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Add a page"/>
    </form>

{% endblock %}