{% extends "::adminNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Add a location
{% endblock %}

{% block adminTitle %}<h1>Add a location</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_locations', {'center': center.ref}) }}">Locations</a>
{% endblock %}

{% block adminBody %}

    <form class="location" action="{{ path('gospelcenterAdmin_locations_add', {'center': center.ref}) }}"
          method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.name, {'attr': {'placeholder': 'Name'} }) }}
        {{ form_errors(form.name) }}

        {{ form_widget(form.address1, {'attr': {'placeholder': 'Address line 1'} }) }}
        {{ form_errors(form.address1) }}

        {{ form_widget(form.address2, {'attr': {'placeholder': 'Address line 2'} }) }}
        {{ form_errors(form.address2) }}

        <fieldset class="double">
            {{ form_widget(form.postalCode, {'attr': {'placeholder': 'Postal code'} }) }}
            {{ form_errors(form.postalCode) }}

            {{ form_widget(form.city, {'attr': {'placeholder': 'City'} }) }}
            {{ form_errors(form.city) }}
        </fieldset>

        {{ form_widget(form.country, {'attr': {'placeholder': 'Country'} }) }}
        {{ form_errors(form.country) }}

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Create a location"/>

    </form>

{% endblock %}