{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Delete a location
{% endblock %}

{% block adminTitle %}<h1>Delete a location</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_locations', {'center': center.ref}) }}">Locations</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_locations', {'center': center.ref}) }}">Cancel</a>
{% endblock %}


{% block adminBody %}

    <form class="delete"
          action="{{ path('gospelcenterAdmin_locations_delete', {'center': center.ref, 'location': location.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <p>Are you sure you want to delete the location:</p>
        <section class="details">
            <h1>{{ location.name }}</h1>

            <p>{{ location.address1 }}</p>

            <p>{{ location.address2 }}</p>

            <p>{{ location.postalCode }} {{ location.city }}</p>

            <p>{{ location.country }}</p>
        </section>

        <input type="submit" class="buttonLink" value="Yes"/>

        <a class="buttonLink"
           href="{{ path('gospelcenterAdmin_locations', {'center': center.ref}) }}">No</a>

        {{ form_rest(form) }}

    </form>


{% endblock %}