{% extends "gospelcenterAdminBundle::more.html.twig" %}

{% block title %}
    {{ parent() }} - Locations
{% endblock %}

{% block adminTitle %}<h1>Locations</h1>{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_locations_add', {'center': center.ref}) }}" class="add">Add a location</a>
{% endblock %}

{% block adminListBody %}
    <table class="main">
        <thead>
        <tr>
            <th data-sort="string">Name<span>Name<div class="arrow"></div></span></th>
            <th data-sort="string">Address<span>Address<div class="arrow"></div></span></th>
            <th data-sort="int">Postal Code<span>Postal Code<div class="arrow"></div></span></th>
            <th data-sort="string">City<span>City<div class="arrow"></div></span></th>
            <th data-sort="string">Country<span>Country<div class="arrow"></div></span></th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}

            {% set link = path('gospelcenterAdmin_locations_edit', {'location': location.id, 'center': center.ref}) %}

            <tr>
                <td class="em">
                    <a href="{{ link }}"><span>{{ location.name }}</span></a>
                </td>
                <td>
                    <a href="{{ link }}"><span>{{ location.address1 }} {{ location.address2 }}</span></a>
                </td>
                <td>
                    <a href="{{ link }}"><span>{{ location.postalCode }}</span></a>
                </td>
                <td>
                    <a href="{{ link }}"><span>{{ location.city }}</span></a>
                </td>
                <td>
                    <a href="{{ link }}"><span>{{ location.country }}</span></a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                <td colspan="5">There are no location.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}