{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Admin
{% endblock %}

{% block param %}
    <li><a href="{{ path('gospelcenterPageGlobal_home') }}">Back to website</a></li>
{% endblock %}

{% block body %}
    
    {% block adminBody %}
    {% endblock %}
    
{% endblock %}

{% block footer %}
    <li><a href="{{ path('gospelcenterAdminGlobal_persons') }}" {% if page == 'people' %}class="current"{% endif %}>Contacts</a></li>
    <li><a href="{{ path('gospelcenterAdminGlobal_pages') }}" {% if page == 'pages' %}class="current"{% endif %}>Pages</a></li>
    <li><a href="{{ path('gospelcenterAdminGlobal_images') }}" {% if page == 'images' %}class="current"{% endif %}>Images</a></li>
    <li><a href="{{ path('gospelcenterAdminGlobal_centers') }}" {% if page == 'centers' %}class="current"{% endif %}>Centers</a></li>
{% endblock %}