{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Admin
{% endblock %}

{% block param %}
    <li><a href="{{ path('gospelcenterPage_home', {'center': center.ref}) }}">Back to website</a></li>
{% endblock %}

{% block body %}
    
    {% block adminBody %}
    {% endblock %}
    
{% endblock %}

{% block footer %}
    <li><a href="{{ path('gospelcenterAdmin_celebrations', {'center': center.ref}) }}" {% if page == 'celebrations' %}class="current"{% endif %}>Celebrations</a></li>
    <li><a href="{{ path('gospelcenterAdmin_persons', {'center': center.ref}) }}" {% if page == 'people' %}class="current"{% endif %}>People</a></li>
    <li><a href="{{ path('gospelcenterAdmin_events', {'center': center.ref}) }}" {% if page == 'events' %}class="current"{% endif %}>Events</a></li>
    <li><a href="{{ path('gospelcenterAdmin_pages', {'center': center.ref}) }}" {% if page == 'pages' %}class="current"{% endif %}>Pages</a></li>
    <li><a href="{{ path('gospelcenterAdmin_images', {'center': center.ref}) }}" {% if page == 'images' %}class="current"{% endif %}>Images</a></li>
    <li><a href="{{ path('gospelcenterAdmin_locations', {'center': center.ref}) }}" {% if page == 'locations' %}class="current"{% endif %}>Locations</a></li>
{% endblock %}

{% block jsTemplating %}
    {{ parent() }}
    <script id="selectMultiple" type="text/x-handlebars-template">
        {% raw %} 
            <ul class="selectMultiple" data-select="{{selectId}}">
                {{#each options}}
                    <li id="{{id}}" class="{{selected}}">{{text}}</li>
                {{/each}}
            </ul>
        {% endraw %}
    </script>
{% endblock %}