{% set admin = true %}

{% extends "::layoutNew.html.twig" %}

{% block classPage %}admin headerFixed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminNew.css') }}" type="text/css"/>
{% endblock %}

{% block title %}
    GC - Admin
{% endblock %}

{% block header_logo %}
    <a id="logo" href="{{ path('gospelcenterPage_home', {'center': center.ref, 'domain': center.domain}) }}"></a>
{% endblock %}

{% block body %}

    <header class="followRubanNav">
        <section class="container">

            {% block adminBack %}{% endblock %}

            {% block adminTitle %}{% endblock %}

            <section class="tools">
                {% block adminTools %}{% endblock %}
                {#<div id="search">Search...</div>#}
            </section>
        </section>
    </header>

    <nav class="sub_nav followRubanNav">
        <ul class="classic">
            {% spaceless %}
            {% block adminSubNav %}{% endblock %}
            {% endspaceless %}
        </ul>
    </nav>

    {% block adminBody %}

        <div class="tableHeaderBG followRubanNav">
            <div class="inner"></div>
        </div>

        {% block adminListBody %}{% endblock %}
    {% endblock %}

{% endblock %}

{% block headerTitle %}GC{{ center.name }}{% endblock %}

{% block jsTemplating %}
    {{ parent() }}
    <script id="selectMultiple" type="text/x-handlebars-template">
        {% raw %}
        <ul class="selectMultiple" data-select="{{selectId}}">
            {{#each options}}
            <li id="{{id}}" class="{{selected}}">{{text}}</li>
            {{/each}}
        </ul>
        {% endraw %}
    </script>

    <script id="selectList" type="text/x-handlebars-template">
        {% raw %}

        <header>
            <h1>{{ title }}</h1>
            <input class="search" type="text" placeholder="Rechercher...">
        </header>
        <ul class="items">
            {{#each items }}

            <li class="item" data-id="{{ this.id }}">
                <div class="image">
                    {{#if this.isImage }}
                    <img src="{{ this.image_url }}" alt="{{ this.title }}"/>
                    {{/if}}
                    {{#unless this.isImage }}
                    <div class="empty"></div>
                    {{/unless}}
                </div>
                <div class="title">
                    <h1>{{ this.title }}</h1>
                </div>
                <div class="date">
                    <time>{{ this.subTitle }}</time>
                </div>
            </li>

            {{/each}}
        </ul>

        {% endraw %}
    </script>
{% endblock %}