<footer>
    <section class="social">
        {% if center.ref == "lausanne" %}
            <a target="_blank" id="facebook" class="icon" href="https://www.facebook.com/GCLausanne"></a>
            <a target="_blank" id="youtube" class="icon" href="https://www.youtube.com/channel/UC-xOsiKqDr_vx3Vl1GGycmg"></a>
            <a target="_blank" id="gctv" class="icon" href="{{ path('gospelcenterMedia_center', {'center': center.ref}) }}"></a>
        {% elseif center.ref == "annecy" %}
            <a target="_blank" id="facebook" class="icon" href="https://www.facebook.com/GCAnnecy"></a>
        {% else %}
        {% endif %}
    </section>
    <section class="container">
        <h1>A place where miracles happen!</h1>
        <nav class="global">
            {#<a href="{{ path('gospelcenterPageGlobal_home') }}" class="logo"></a>#}
            <ul>
                {% spaceless %}
                    {% include "::nav/centers.html.twig" %}
                {% endspaceless %}
            </ul>
        </nav>
        <nav class="main">
            <ul class="local">
                {% spaceless %}
                    {% include "::nav/local.html.twig" %}
                    <li>
                        <a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'give'}) }}">{{ 'gc.nav.give'|trans }}</a>
                    </li>
                {% endspaceless %}
            </ul>
            <div class="lang-nav">
                <span id="get_lang">{{ app.request.locale|trans({}, 'lang') }}</span>

                <div class="param_arrow">
                    <div class="arrow_up_border"></div>
                    <div class="arrow_up"></div>
                </div>
                <ul>
                    <li>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Français</a>
                    </li>
                    <li>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>
                    </li>
                </ul>
            </div>
        </nav>

    </section>
</footer>