{% extends "::layout.html.twig" %}

{% block classPage %}global{% endblock %}

{% block param %}
    {{ parent() }}
    <li><a href="{{ path('gospelcenterAdminGlobal_persons_add') }}">Add a Contact</a></li>
    <li><a href="{{ path('gospelcenterAdminGlobal_persons') }}">Manage Contacts</a></li>
    <li><a href="{{ path('gospelcenterAdminGlobal_pages') }}">Dashboard</a></li>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/page.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/page.min.js') }}"></script>
{% endblock %}

{% block footer %}
    <li><a href="celebrations" class="celebrations {% if page == 'celebrations' %}current{% endif %}">Celebrations</a></li>
    <li><a href="vision" class="vision {% if page == 'vision' %}current{% endif %}">Our vision</a></li>
    <li><a href="god" class="god {% if page == 'god' %}current"{% endif %}"">God?</a></li>
    <li><a href="television" class="television {% if page == 'television' %}current{% endif %}">Television</a></li>
    <li><a href="training" class="training {% if page == 'training' %}current{% endif %}">Training</a></li>
    <li><a href="contact" class="contact {% if page == 'contact' %}current{% endif %}">Contact</a></li>
{% endblock %}