<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Gospel Center{% endblock %}</title>
    <meta name="viewport"
          content="initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/layoutNew.css') }}" type="text/css"/>
    {% endblock %}


    {% block javascripts %}

        {% if center %}
        {% if center.ref == "lausanne" %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-60150028-3', 'auto');
            ga('send', 'pageview');

        </script>
        {% elseif center.ref == "annecy" %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-60150028-4', 'auto');
            ga('send', 'pageview');

        </script>
        {% endif %}
        {% else if page == "tv" %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-60150028-2', 'auto');
            ga('send', 'pageview');

        </script>
        {% endif %}

        <script type="text/javascript" src="{{ asset('js/processed/mainNew.min.js') }}"></script>
    {% endblock %}

    {% block jsTemplating %}

    {% endblock %}


</head>
<body>
<section id="ruban_nav">
    {% include "::ruban_nav.html.twig" %}
    {% include "::login.html.twig" %}
</section>
<section id="page" class="{#headerFixed#} {{ page }} {% block classPage %}{% endblock %}">
    <header>

        {% block local_header %}
        {% endblock %}


        {% for type in ['info', 'success', 'error'] %}
            {% for message in app.session.flashbag.get(type) %}
                <section id="message" class="{{ type }}">
                    {{ message }}
                </section>
            {% endfor %}
        {% endfor %}

        <nav class="main">
            <a id="get_ruban" href=""></a>
            {% block header_logo %}{% endblock %}


            <ul class="nav">
                {% spaceless %}
                    {% block header_nav %}
                    {% endblock %}
                {% endspaceless %}
            </ul>
            {% if app.user %}
                {% include "::admin/param.html.twig" %}
            {% endif %}
            <a id="get_nav" href=""></a>
        </nav>

    </header>
    <section id="container" class="{{ page }}">
        {% block body %}
        {% endblock %}
    </section>

    {% block footer %}{% endblock %}
</section>
</body>
</html>
