{% extends "::layout.html.twig" %}

{% block param %}
    <li><a href="{{ path('gospelcenterAdmin_celebrations_add', {'center': center.ref}) }}">Create a celebration</a></li>
    <li><a href="{{ path('gospelcenterAdmin_events_add', {'center': center.ref}) }}">Create an event</a></li>
    <li><a href="{{ path('gospelcenterAdmin_events', {'center': center.ref}) }}">Manage events</a></li>
    <li><a href="{{ path('gospelcenterAdmin_celebrations', {'center': center.ref}) }}">Admin</a></li>
    {{ parent() }}
{% endblock %}


{% block footer %}
    <li><a href="{{ path('gospelcenterPage_home', {'center': center.ref}) }}" {% if page == 'home' %}class="current"{% endif %}>Home</a></li>
    <li><a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'celebrations'}) }}" {% if page == 'celebrations' %}class="current"{% endif %}>Celebrations</a></li>
    <li><a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'about'}) }}" {% if page == 'about' %}class="current"{% endif %}>About</a></li>
    <li><a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'bases'}) }}" {% if page == 'bases' %}class="current"{% endif %}>Bases</a></li>
    <li><a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'youth'}) }}" {% if page == 'youth' %}class="current"{% endif %}>Youth</a></li>
    <li><a href="{{ path('gospelcenterEvents_list', {'center': center.ref}) }}" {% if page == 'events' %}class="current"{% endif %}>Events</a></li>
    <li><a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'contact'}) }}" {% if page == 'contact' %}class="current"{% endif %}>Contact</a></li>
{% endblock %}