<h1>{# <a href="{{ path('gospelcenterPageGlobal_home') }}">#}Gospel Center{#</a>#}</h1>
<nav>
    <h1>{{ 'gc.ruban.cities'|trans }}</h1>
    <ul>
        {% spaceless %}
            {% include "::nav/centers.html.twig" %}
        {% endspaceless %}
    </ul>
    {% if app.user %}
        <h1>Beta</h1>
        <ul>
            <li><a href="{{ path('gospelcenterPage_home', {'center': 'montreux', 'domain': 'gospel-center.org'}) }}">Montreux</a></li>
            <li><a href="{{ path('gospelcenterPage_home', {'center': 'lacote', 'domain': 'gospel-center.org'}) }}">La Côte</a></li>
        </ul>
    {% endif %}
</nav>
<nav>
    <h1>{{ 'gc.ruban.ministries'|trans }}</h1>
    <ul>
        <li><a href="{{ path('gospelcenterMedia') }}">Gospel Center TV</a></li>

    </ul>
</nav>
<nav>
    <h1>{{ 'gc.ruban.partners'|trans }}</h1>
    <ul>
        <li><a target="_blank" href="http://gospel-wave.org/">Gospel Wave</a></li>
        {#<li><a target="_blank" href="http://gcj.ch/">Gospel Center Jura</a></li>#}
        <li><a target="_blank" href="http://www.ee-oron.ch/">{{ 'gc.ruban.eeo'|trans }}</a></li>
        <li><a target="_blank" href="http://www.laguerison.org/">{{ 'gc.ruban.iahm'|trans }}</a></li>
        <li><a target="_blank" href="http://www.gospel-diffusion.com">Gospel Diffusion</a></li>
    </ul>
</nav>

{% if page != "tv" and center %}
    <nav class="social">
        <h1>{{ 'gc.ruban.social'|trans }}</h1>
        <ul>
            {% spaceless %}
                {% include "::nav/social.html.twig" %}
            {% endspaceless %}
        </ul>
    </nav>

{% endif %}