{% extends "::adminGlobalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if center.image %}
        <script type="text/javascript" src="{{ asset('js/processed/editImage.min.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('js/processed/addImage.min.js') }}"></script>
    {% endif %}
{% endblock %}


{% block title %}
    {{ parent() }} - Edit a center
{% endblock %}

{% block adminTitle %}<h1>Edit a center</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdminGlobal_centers') }}">Centers</a>
{% endblock %}

{% block adminBody %}

    <form novalidate class="center" action="{{ path('gospelcenterAdminGlobal_centers_add') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}

        {{ form_widget(form.image.file) }}
        {{ form_errors(form.image.file) }}
        {% if center.image %}
            <div id="editImage" data-input="{{ form.image.file.vars.id }}">
                <img src="{{ asset(center.image.webPath) }}" alt="{{ center.image.alt }}" />
            </div>
        {% endif %}

        {{ form_widget(form.location) }}
        {{ form_errors(form.location) }}

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Add a center"/>
    </form>

{% endblock %}