{% extends "::adminGlobalNew.html.twig" %}

{% block title %}
    {{ parent() }} - Centers
{% endblock %}

{% block adminTitle %}<h1>Centers</h1>{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdminGlobal_centers_add') }}" class="add">Add a center</a>
{% endblock %}

{% block adminListBody %}
    <table class="main">
        <thead>
        <tr>
            <th data-sort="string">Name<span>Name<div class="arrow"></div></span></th>
            <th data-sort="string">City<span>City<div class="arrow"></div></span></th>
            <th data-sort="string">Country<span>Country<div class="arrow"></div></span></th>
        </tr>
        </thead>
        <tbody>
        {% for center in centers %}

            {% set link = path('gospelcenterAdminGlobal_centers_edit', {'center': center.ref}) %}

            <tr>
                <td class="em">
                    <a href="{{ link }}">
                        <span>{{ center.name }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        {% if center.location %}
                            <span>{{ center.location.city }}</span>
                        {% else %}
                            <span>--</span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        {% if center.location %}
                            <span>{{ center.location.country }}</span>
                        {% else %}
                            <span>--</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                <td colspan="3">There are no centers.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}