{% extends "::adminGlobal.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css"/>
{% endblock %}

{% block title %}
    {{ parent() }} - Centers
{% endblock %}

{% block adminBody %}
    <h1>Centers</h1>

    <section class="tools">
        <a href="{{ path('gospelcenterAdminGlobal_centers_add') }}">Add a center</a>
    </section>

    <table class="main">
        <thead>
        <tr>
            <th data-sort="string">Name</th>
            <th data-sort="string">City</th>
            <th data-sort="string">Country</th>
        </tr>
        </thead>
        <tbody>
        {% for center in centers %}
            <tr>
                <td>
                    <a href="{{ path('gospelcenterAdminGlobal_centers_edit', {'center': center.ref}) }}">
                        <span>Gospel Center {{ center.name }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('gospelcenterAdminGlobal_centers_edit', {'center': center.ref}) }}">
                        {% if center.location %}
                            <span>{{ center.location.city }}</span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ path('gospelcenterAdminGlobal_centers_edit', {'center': center.ref}) }}">
                        {% if center.location %}
                            <span>{{ center.location.country }}</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                <td colspan="3">There are no centers.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}