{% extends "::mobileAdmin.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block headerLeft%}<a id="back" class="left" href="{{ path('gospelcenterAdmin_locations', {'center': center.ref}) }}"></a>{% endblock %}
{% block headerCenter %}Add a celebration{% endblock %}
{% block headerRight %}{% endblock %}

{% block body %}
    
    <form action="{{ path('gospelcenterAdmin_locations_add', {'center': center.ref}) }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_errors(form) }}
        
        <fieldset class="block">
            {{ form_widget(form.name, {'attr': {'placeholder': 'Name'} }) }}
        </fieldset>
        
        <fieldset class="block">
            {{ form_widget(form.address1, {'attr': {'placeholder': 'Address line 1'} }) }}
            {{ form_widget(form.address2, {'attr': {'placeholder': 'Address line 2'} }) }}
        </fieldset>
        
        <fieldset class="block">
            {{ form_widget(form.postalCode, {'attr': {'placeholder': 'Postal code'} }) }}
            {{ form_widget(form.city, {'attr': {'placeholder': 'City'} }) }}
        </fieldset>
        
        <fieldset class="block">
            {{ form_widget(form.country, {'attr': {'placeholder': 'Country'} }) }}
        </fieldset>
                
        {{ form_rest(form) }}
        
        <section class="tools">
            <input type="submit" class="buttonRounded" />
        </section>
        
    </form>
    
{% endblock %}