{% extends "::mobileAdmin.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block headerCenter %}Locations{% endblock %}

{% block body %}
    
    <nav class="main">
        <ul>
            
            {% for location in locations %}
                <li>
                    <a href="{{ path('gospelcenterAdmin_locations_edit', {'location': location.id, 'center': center.ref}) }}">
                        <h1>{{ location.name }}</h1>
                        <p>{{ location.postalCode }} {{ location.city }}</p>
                    </a>
                </li>
            {% else %}
                <li class="empty">There are no locations.</li>
            {% endfor %}
            
        </ul>
    </nav>
    
    <section class="tools">
        <a href="{{ path('gospelcenterAdmin_locations_add', {'center': center.ref}) }}">Add a location</a>
    </section>
    
{% endblock %}