<li><a href="{{ path('gospelcenterAdmin_celebrations', {'center': center.ref, 'domain': center.domain}) }}">Dashboard</a></li>
<li><a href="{{ path('gospelcenterAdmin_celebrations_add', {'center': center.ref, 'domain': center.domain}) }}">Create a Celebration</a></li>
<li><a href="{{ path('gospelcenterAdmin_celebrations', {'center': center.ref, 'domain': center.domain}) }}">Manage Celebrations</a></li>
<li><a href="{{ path('gospelcenterAdmin_persons_add', {'center': center.ref, 'domain': center.domain}) }}">Create a Contact</a></li>
<li><a href="{{ path('gospelcenterAdmin_persons', {'center': center.ref, 'domain': center.domain}) }}">Manage Contacts</a></li>
<li><a href="{{ path('gospelcenterAdmin_events_add', {'center': center.ref, 'domain': center.domain}) }}">Create an Event</a></li>
<li><a href="{{ path('gospelcenterAdmin_events', {'center': center.ref, 'domain': center.domain}) }}">Manage Events</a></li>
<li class="line"></li>