{% extends "gospelcenterUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <h1>Edit your profile</h1>

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    
        {{ form_widget(form.username, {'attr': {'placeholder': 'Username'} }) }}
        {{ form_errors(form.username) }}
        
        {{ form_widget(form.email, {'attr': {'placeholder': 'Email'} }) }}
        {{ form_errors(form.email) }}
        
        {{ form_widget(form.current_password, {'attr': {'placeholder': 'Current password'} }) }}
        {{ form_errors(form.current_password) }}
        
        {{ form_widget(form) }}
        
        <input type="submit" class="buttonLink" value="Edit" />
    </form>
    
{% endblock %}
