{% extends "gospelcenterEventBundle::mobile.html.twig" %}

{% block gospelcenterEvents_body %}
    {% for event in events %}
        <a class="bigList" href="{{ path('gospelcenterEvents_event', {'event': event.id, 'center': center.ref}) }}">
            
            <img src="{{ asset(event.picture.webPath) }}" alt="{{ event.picture.alt }}" />
            
            <section class="details">
	            <h1>{{ event.title }}</h1>
	            <time>{{ event.startingDate|date('d F Y') }}</time>
            </section>
        
        </a>
    {% else %}
        <span class="empty">There are no events to come.</span>
    {% endfor %}
{% endblock %}