{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Delete an image
{% endblock %}

{% block adminTitle %}<h1>Delete an image</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_images', {'center': center.ref, 'domain': center.domain}) }}">Images</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_images', {'center': center.ref, 'domain': center.domain}) }}">Cancel</a>
{% endblock %}


{% block adminBody %}

    <form class="delete"
          action="{{ path('gospelcenterAdmin_images_delete', {'center': center.ref, 'domain': center.domain, 'image': image.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <p>Are you sure you want to delete the image:</p>
        <section class="details">
            <h1>{{ image.title }}</h1>
            <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}"/>
        </section>

        <input type="submit" class="buttonLink" value="Yes"/>

        <a class="buttonLink" href="{{ path('gospelcenterAdmin_images', {'center': center.ref, 'domain': center.domain}) }}">No</a>

        {{ form_rest(form) }}

    </form>


{% endblock %}