{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Delete a page
{% endblock %}

{% block adminTitle %}<h1>Delete a page</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_pages', {'center': center.ref, 'domain': center.domain}) }}">Pages</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_pages', {'center': center.ref, 'domain': center.domain}) }}">Cancel</a>
{% endblock %}


{% block adminBody %}

    <form class="delete"
          action="{{ path('gospelcenterAdmin_pages_delete', {'center': center.ref, 'domain': center.domain, 'page': objPage.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <p>Are you sure you want to delete the page{% if objPage.slides|length %} and slides{% endif %}:</p>
        <section class="details">
            <h1>{{ objPage.title }}</h1>

            <p>{{ objPage.slogan }}</p>

            <h2>Slides</h2>
            {% for slide in objPage.slides %}
                <article class="associations">
                    <h1>{{ slide.title }}</h1>

                    <p>{{ slide.text }}</p>
                </article>
            {% endfor %}
        </section>

        <input type="submit" class="buttonLink" value="Yes"/>

        <a class="buttonLink" href="{{ path('gospelcenterAdmin_pages', {'center': center.ref, 'domain': center.domain}) }}">No</a>

        {{ form_rest(form) }}

    </form>

{% endblock %}