{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/addPage.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ parent() }} - Edit a page
{% endblock %}

{% block adminTitle %}<h1>Edit a page</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_youth', {'center': center.ref}) }}">Youth's pages</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_pages_delete', {'center': center.ref, 'page': objPage.id}) }}"
       class="delete">Delete</a>
    <a href="{{ path('gospelcenterAdmin_youth', {'center': center.ref}) }}">Cancel</a>
{% endblock %}

{% block adminBody %}

    <form class="page" action="{{ path('gospelcenterAdmin_youth_edit', {'center': center.ref, 'page': objPage.id}) }}"
          method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.title, {'attr': {'placeholder': 'Title'} }) }}
        {{ form_errors(form.title) }}

        {{ form_widget(form.alias, {'attr': {'placeholder': 'Alias: gospel-center.org/. . .'} }) }}
        {{ form_errors(form.alias) }}

        {{ form_widget(form.slogan, {'attr': {'placeholder': 'Slogan'} }) }}
        {{ form_errors(form.slogan) }}

        {{ form_widget(form.sort) }}
        {{ form_errors(form.sort) }}

        {{ form_widget(form.language) }}
        {{ form_errors(form.language) }}

        <fieldset id="slides">
            <legend>Slides</legend>
            {{ form_widget(form.slides) }}
            {{ form_errors(form.slides) }}
        </fieldset>

        <input type="submit" class="buttonLink" value="Save changes"/>

        {{ form_rest(form) }}
    </form>


{% endblock %}

{% block jsTemplating %}
    {{ parent() }}
    <script id="slide" type="text/x-handlebars-template">
        {% for slide in article.slides %}

        <article id="{{ slide.id }}" class="slide">
            <section style="background-image: url({{ asset(slide.image.webPath) }})">
                <h1>{{ slide.title }}</h1>
            </section>
            <div class="arrow">
                <div id="up"></div>
                <div id="down"></div>
            </div>
        </article>
        {% endfor %}
    </script>
{% endblock %}