{% extends "::adminGlobalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/processed/addImage.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ parent() }} - Add an image
{% endblock %}

{% block adminTitle %}<h1>Add an image</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdminGlobal_images') }}">Images</a>
{% endblock %}

{% block adminBody %}

    <form class="image" action="{{ path('gospelcenterAdminGlobal_images_add') }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.file) }}
        {{ form_errors(form.file) }}

        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}

        {{ form_widget(form.type) }}
        {{ form_errors(form.type) }}

        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Add an image"/>

    </form>


{% endblock %}