{% block body %}
    <section id="page" class="about complex leadership">
    
        <h1>Direction</h1>
        
        <h2>Pasteur</h2>
        <article>
            <img src="{{ asset('bundles/gospelcenterpage/images/MarcGallay.png') }}" alt="Marc Gallay" />
            <span>Marc Gallay</span>
        </article>
        
        
        <h2>Comité de direction</h2>
        <article>
            <img src="{{ asset('bundles/gospelcenterpage/images/SimonMoser.png') }}" alt="Simon Moser" />
            <span>Simon Moser</span>
        </article>
        <article>
            <img src="{{ asset('bundles/gospelcenterpage/images/Pierre-AndreDinatale.png') }}" alt="Pierre-André Dinatale" />
            <span>Pierre-André Dinatale</span>
        </article>
        <article>
            <img src="{{ asset('bundles/gospelcenterpage/images/AlixBingle.png') }}" alt="Alix Bingle" />
            <span>Alix Bingle</span>
        </article>
        <article>
            <img src="{{ asset('bundles/gospelcenterpage/images/PatrickBigler.png') }}" alt="Patrick Bigler" />
            <span>Patrick Bigler</span>
        </article>
        
        
        {% include "@gospelcenterPage/StaticPage/"~ center.ref ~"/"~ language ~"/about_nav.html.twig" %}
        
    </section>
{% endblock %}