{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block meta %}
    <meta property="og:title" content="{{ audio.celebration|speakers(app.request.locale) }}"/>
    <meta property="og:image" content="{{ audio.celebration.image.webPath| imagine_filter('facebook_share') }}"/>
    <meta property="og:description"
          content="{% if audio.celebration.title %}{{ audio.celebration.title }}{% else %}Célébration du {{ audio.celebration.date|oneDate(app.request.locale) }}{% endif %}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="audio">
        <section class="player">
            <div class="container">
                <iframe width="100%" height="166" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ audio.ownerId }}&amp;color=d91a15&amp;auto_play=true&amp;hide_related=false&amp;show_artwork=true"></iframe>
            </div>
        </section>
        <section class="bottom">
            {% spaceless %}
                <section class="desc">
                    <h1>{% if audio.celebration.title %}{{ audio.celebration.title }}{% else %}Celebration{% endif %}</h1>
                    <time>{{ audio.celebration.date|oneDate(app.request.locale) }}</time>

                    {% for speaker in audio.celebration.speakers %}
                        {% if speaker.person.pseudo == "" %}
                            <h3>{{ speaker.person.firstname }} {{ speaker.person.lastname }}</h3>
                        {% else %}
                            <h3>{{ speaker.person.pseudo }}</h3>
                        {% endif %}
                        <p class="function">{{ speaker.person.function }}</p>
                    {% endfor %}

                    {% if audio.celebration.description != "" %}
                        <p class="desc">{{ audio.celebration.description }}</p>
                    {% endif %}

                    {% set url = "http://gospel-center.tv" ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

                    <section class="social">
                        <ul>
                            <li style="list-style: none;">
                                <a id="facebook" target="_blank" class="icon"
                                   href="https://www.facebook.com/sharer/sharer.php?u={{ url|url_encode }}">Facebook</a>
                            </li>
                        </ul>

                    </section>

                </section>
                {% if audios|length %}
                    <section class="right">

                        {% if audio.celebration.video %}
                        <h2><span>Également en vidéo</span></h2>
                        <a class="single" href="{{ path('gospelcenterMedia_video', {'video': audio.celebration.video.id}) }}">
                            <div class="container">
                                {% if audio.celebration.image %}
                                    {% set tvImg = audio.celebration.image.webPath %}
                                    <div class="image"
                                         style="background-image: url('{{ asset(tvImg) }}')"
                                         data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                         data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                         data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                         data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                         data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                         data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                    ></div>
                                    <div class="gradient"></div>
                                {% else %}
                                    <div class="bg"></div>
                                {% endif %}
                                <div class="hover">
                                    <div class="picto_play"></div>
                                    <span>Regarder la vidéo</span>
                                </div>
                                <div class="details">
                                    <span>{{ audio.celebration.title }}</span>
                                </div>
                            </div>
                        </a>
                        {% endif %}


                        <h2><span>Du même orateur</span></h2>

                        {% for audio in audios %}
                            <a href="{{ path('gospelcenterMedia_audio', {'audio': audio.celebration.audio.id}) }}">
                                <div class="container">
                                    {% if audio.celebration.image %}
                                        {% set tvImg = audio.celebration.image.webPath %}
                                        <div class="image"
                                             style="background-image: url('{{ asset(tvImg) }}')"
                                             data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                             data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                             data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                             data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                             data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                             data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                                ></div>
                                        <div class="gradient"></div>
                                    {% else %}
                                        <div class="bg"></div>
                                    {% endif %}
                                    <div class="hover">
                                        <div class="picto_play"></div>
                                        <span>Écouter</span>
                                    </div>
                                    <div class="details">
                                        <span>{{ audio.celebration.title }}</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <div class="clear"></div>
                    </section>
                {% endif %}
            {% endspaceless %}
        </section>
    </section>
{% endblock %}


