{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block headerTitle %}Audios{% endblock %}

{% block tvHeader %}

    <nav class="left"></nav>
    
    <h1>Audios</h1>
    
    <nav class="right"></nav>
    
{% endblock %}

{% block tv_body %}
    <section class="wall">
        {% for celebration in celebrations %}<a href="{{ path('gospelcenterMedia_audio', {'audio': celebration.audio.id}) }}">
                <div class="video_image">
                    <span class="picto_play"></span>
                    {% if celebration.image %}
                    <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                        {% endif %}
                </div>
                <section class="details">
                    {% set speakers = '' %}
            
                    {% for key, speaker in celebration.speakers %}
                        
                        {% if key != 0 and key != (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ ', '%}
                        {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ ' et '%}
                        {% endif %}
                        
                        {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
                        
                    {% endfor %}
                    
                    <h1>{{ speakers }}</h1>
                    <span data-time="{{ celebration.date.start|date('Y-m-d H:i:s') }}">{{ celebration.date.start|date('d F') }}</span>
                </section>
            </a>{% endfor %}
    </section>
    
{% endblock %}