{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block headerTitle %}Our cities{% endblock %}

{% block tvHeader %}

    <nav class="left"></nav>
    
    <h1>Our cities</h1>
    
    <nav class="right"></nav>
    
{% endblock %}

{% block tv_body %}
    <section class="wall">
        {% spaceless %}
            {% for center in centers %}
            
                {% set hasMedia = false %}
                {% for celebration in center.celebrations %}
                    {% if celebration.video or celebration.audio %}
                        {% set hasMedia = true %}
                    {% endif %}
                {% endfor %}
                
                {% if hasMedia %}
                    <a class="{% if not center.image %}empty{% endif %} resize16_9width" href="{{ path('gospelcenterMedia_center', {'center': center.ref}) }}">
                        {% if center.image %}
                            <img src="{{ asset(center.image.webPath) }}" alt="{{ center.image.alt }}" />
                        {% endif %}
                        <section class="details">
                            <h1>{{ center.name }}</h1>
                        </section>
                    </a>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </section>
    
{% endblock %}