{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    
    <header class="tv">
        <div>
            <nav class="left">
                
            </nav>
            
            <h1>Our cities</h1>
            
            <nav class="right">
            
            </nav>
        </div>
    </header>

    
    <section class="wall">
        {% spaceless %}
            {% for center in centers %}
            
                {% set hasMedia = false %}
                {% for celebration in center.celebrations %}
                    {% if celebration.video or celebration.audio %}
                        {% set hasMedia = true %}
                    {% endif %}
                {% endfor %}
                
                {% if hasMedia %}
                    <a {% if not center.image %}class="empty"{% endif %} href="{{ path('gospelcenterMedia_center', {'center': center.ref}) }}">
                        {% if center.image %}
                            <img src="{{ asset(center.image.webPath) }}" alt="{{ center.image.alt }}" />
                        {% endif %}
                        <section class="details">
                            <h1>{{ center.name }}</h1>
                        </section>
                    </a>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </section>
    
{% endblock %}