{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block body %}
    {% spaceless %}
        <section class="wall">
            <h1>Gospel Center {{ center.name }}</h1>

            {% for celebration in celebrations %}
                {% if celebration.video %}
                    <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                        <div class="container">
                            {% if celebration.image %}
                                {% set tvImg = celebration.image.webPath %}
                                <div class="image"
                                     style="background-image: url('{{ asset(tvImg)| imagine_filter('tv_wall_low') }}')"
                                     data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                     data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                     data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                     data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                     data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                     data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                        ></div>
                                <div class="gradient"></div>
                            {% else %}
                                <div class="bg"></div>
                            {% endif %}
                            <div class="hover">
                                <div class="picto_play"></div>
                                <span>Regarder la vidéo</span>
                            </div>
                            <div class="details">
                                <h1>{{ celebration|speakers(app.request.locale) }}</h1>
                                <span>{{ celebration.title }}</span>
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ path('gospelcenterMedia_audio', {'audio': celebration.audio.id}) }}">
                        <div class="container">
                            {% if celebration.image %}
                                {% set tvImg = celebration.image.webPath %}
                                <div class="image"
                                     style="background-image: url('{{ asset(tvImg)| imagine_filter('tv_wall_low') }}')"
                                     data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                     data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                     data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                     data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                     data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                     data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                        ></div>
                                <div class="gradient"></div>
                            {% else %}
                                <div class="bg"></div>
                            {% endif %}
                            <div class="hover">
                                <div class="picto_play"></div>
                                <span>Écouter</span>
                            </div>
                            <div class="details">
                                <h1>{{ celebration|speakers(app.request.locale) }}</h1>
                                <span>{{ celebration.title }}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            <a id="more" href="#more" data-apiUrl="../../api/center/{{ center.ref }}.json">
                <div class="container">
                    <div class="bg">
                        <span>Charger plus de célébrations</span>
                    </div>
                </div>
            </a>

            <div class="clear"></div>
        </section>
    {% endspaceless %}
{% endblock %}