{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <a class="title" href="{{ path('gospelcenterMedia') }}"><span>Gospel Center</span> <em>TV</em></a>
    
    <section class="sliderTop slider" id="1">
        
        {% if starsVideos|length > 1 %}<div id="left" class="arrow black"></div>{% endif %}
    
        {% for celebration in starsVideos %}
            
            {% set speakers = '' %}
        
            {% for key, speaker in celebration.speakers %}
                
                {% if key != 0 and key != (celebration.speakers|length -1) %}
                    {% set speakers = speakers ~ ', '%}
                {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                    {% set speakers = speakers ~ ' et '%}
                {% endif %}
                
                {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
                
            {% endfor %}
            
            <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}" class="slide" id="{{ loop.index }}">
                <section class="picture">
                    <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                </section>
                <section class="details content">
                    <h1>{{ speakers }}</h1>
                    {% if celebration.title|length %}<h2>{{ celebration.title }}</h2>{% endif %}
                    <time data-time="{{ celebration.startingDate|date('Y-m-d H:i:s') }}">{{ celebration.startingDate|date('d F') }}</time>
                    
                    {% if celebration.description %}<p>{{ celebration.description }}</p>{% endif %}
                </section>
            </a>
            
        {% endfor %}
        
        {% if starsVideos|length > 1 %}<div id="right" class="arrow black"></div>{% endif %}
        
        {% if starsVideos|length > 1 %}
            <nav id="slides" class="redRound">
                <ul>
                    {% for celebration in starsVideos %}
                        <li class="{% if loop.index == 1 %}current{% endif %}" data-slide="{{ loop.index }}" data-slider="1"></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </section>
    
    
    <section class="sliderDown">
        <h1>Our last videos</h1>
        
        <section class="clip">
            {% for celebration in lastVideos %}
                
                {% set speakers = '' %}
            
                {% for key, speaker in celebration.speakers %}
                    
                    {% if key != 0 and key != (celebration.speakers|length -1) %}
                        {% set speakers = speakers ~ ', '%}
                    {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                        {% set speakers = speakers ~ ' et '%}
                    {% endif %}
                    
                    {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
                    
                {% endfor %}
                
                <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                    <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                    <section class="details">
                        <h1>{{ speakers }}</h1>
                        <span data-time="{{ celebration.startingDate|date('Y-m-d H:i:s') }}">{{ celebration.startingDate|date('d F') }}</span>
                    </section>
                </a>
                
            {% endfor %}
        </section>
            
    </section>
{% endblock %}