{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block body %}
    {% spaceless %}
        <section class="wallSpeaker">
            <h1>Nos orateurs</h1>

            {% for speaker in speakers %}

                <a href="{{ path('gospelcenterMedia_speaker', {'speaker': speaker.person.id}) }}">
                    <div class="container">
                        {% if speaker.person.image %}
                            <div class="image"
                                 style="background-image: url('{{ asset(speaker.person.image.webPath) }}')"></div>
                        {% else %}
                            <div class="bg"></div>
                        {% endif %}
                        <div class="details">
                            <h1>{{ speaker.person.firstname }} {{ speaker.person.lastname }}</h1>
                            <span>{{ speaker.person.function }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="clear"></div>
        </section>
    {% endspaceless %}
{% endblock %}