{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block headerTitle %}{{ speaker.person.firstname }} {{ speaker.person.lastname }}{% endblock %}

{% block tvHeader %}

    <nav class="left">
        {% if previousUrl %}<a id="back" href="{{ previousUrl }}">{{ previousLabel }}</a>{% endif %}
    </nav>
    
    <h1>{{ speaker.person.firstname }} {{ speaker.person.lastname }}</h1>
    
    <nav class="right">
    
    </nav>
    
{% endblock %}

{% block tv_body %}
    <section class="wall">
        {% spaceless %}
            {% for celebration in celebrations %}
                
                {% if celebration.video or celebration.audio %}
                
                    {% if celebration.video %}
                        <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                    {% elseif celebration.audio %}
                        <a href="{{ path('gospelcenterMedia_audio', {'audio': celebration.audio.id}) }}">
                    {% endif %}
                        <div class="video_image">
                            <span class="picto_play"></span>
                            <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                        </div>
                        <section class="details">
                            <h1>{% if celebration.title|length %}{{ celebration.title }}{% else %}Celebration{% endif %}</h1>
                            <span data-time="{{ celebration.startingDate|date('Y-m-d H:i:s') }}">{{ celebration.startingDate|date('d F') }}</span>
                        </section>
                    </a>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
    </section>
    
{% endblock %}