{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block headerTitle %}Our speakers{% endblock %}

{% block tvHeader %}

    <nav class="left"></nav>
    
    <h1>Our speakers</h1>
    
    <nav class="right"></nav>
    
{% endblock %}

{% block tv_body %}    
    <section class="wall">
        {% spaceless %}
            {% for speaker in speakers %}
                
                {% set hasMedia = false %}
                {% for celebration in speaker.celebrations %}
                    {% if celebration.video or celebration.audio %}
                        {% set hasMedia = true %}
                    {% endif %}
                {% endfor %}
                
                {% if hasMedia %}
                    <a href="{{ path('gospelcenterMedia_speaker', {'speaker': speaker.person.id}) }}">
                        {% set hasImage = false %}
                        {% for celebration in speaker.celebrations %}                
                            {% if not hasImage and celebration.image %}
                                {% set hasImage = true %}
                                <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                            {% endif %}
                        {% endfor %}
                        <section class="details">
                            <h1>{{ speaker.person.firstname }} {{ speaker.person.lastname }}</h1>
                            <span>{{ speaker.celebrations|length }} {% if speaker.celebrations|length > 1 %}videos{% else %}video{% endif %}</span>
                        </section>
                    </a>
                {% endif %}
                
            {% endfor %}   
        {% endspaceless %}
    </section>
    
{% endblock %}