{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block meta %}
    <meta property="og:title" content="{{ speaker.person.firstname }} {{ speaker.person.lastname }}"/>
    <meta property="og:image" content="{{ speaker.person.image.webPath| imagine_filter('facebook_share') }}"/>
    <meta property="og:description" content="Toutes les vidéos et audios de {{ speaker.person.firstname }} {{ speaker.person.lastname }} sur Gospel Center TV"/>
    {{ parent() }}
{% endblock %}

{% block body %}
    {% spaceless %}
        <section class="wall">
            <h1>Les célébrations avec {{ speaker.person.firstname }} {{ speaker.person.lastname }}</h1>

            {% for celebration in celebrations %}
                {% if celebration.video %}
                    <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                        <div class="container">
                            {% if celebration.image %}
                                {% set tvImg = celebration.image.webPath %}
                                <div class="image"
                                     style="background-image: url('{{ asset(tvImg) }}')"
                                     data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                     data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                     data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                     data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                     data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                     data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                        ></div>
                                <div class="gradient"></div>
                            {% else %}
                                <div class="bg"></div>
                            {% endif %}
                            <div class="hover">
                                <div class="picto_play"></div>
                                <span>Regarder la vidéo</span>
                            </div>
                            <div class="details">
                                {% if celebration.title != "" %}
                                    <span>{{ celebration.title }}</span>
                                {% else %}
                                    <span>{{ celebration.date|oneDate(app.request.locale) }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% else %}

                    <a href="{{ path('gospelcenterMedia_audio', {'audio': celebration.audio.id}) }}">
                        <div class="container">
                            {% if celebration.image %}
                                {% set tvImg = celebration.image.webPath %}
                                <div class="image"
                                     style="background-image: url('{{ asset(tvImg) }}')"
                                     data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                     data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                     data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                     data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                     data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                     data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                        ></div>
                                <div class="gradient"></div>
                            {% else %}
                                <div class="bg"></div>
                            {% endif %}
                            <div class="hover">
                                <div class="picto_play"></div>
                                <span>Ecouter</span>
                            </div>
                            <div class="details">
                                {% if celebration.title != "" %}
                                    <span>{{ celebration.title }}</span>
                                {% else %}
                                    <span>{{ celebration.date|oneDate(app.request.locale) }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            <div class="clear"></div>
        </section>
    {% endspaceless %}
{% endblock %}