{% extends "gospelcenterMediaBundle::layout.html.twig" %}

{% block meta %}
    <meta property="og:title" content="{% if video.celebration.title %}{{ video.celebration.title }}{% else %}Celebration{% endif %}"/>
    <meta property="og:image" content="{{ video.celebration.image.webPath| imagine_filter('facebook_share') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="video">
        <section class="player">
            <div class="container">
                <iframe src="//player.vimeo.com/video/{{ video.ownerId }}?title=0&amp;byline=0&amp;portrait=0&amp;color=d91a15&amp;autoplay=1"
                        width="100%" height="0" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe>
            </div>
        </section>
        <section class="bottom">
            {% spaceless %}
                <section class="desc">
                    <h1>{% if video.celebration.title %}{{ video.celebration.title }}{% else %}Celebration{% endif %}</h1>
                    <time>{{ video.celebration.date|oneDate(app.request.locale) }}</time>

                    {% for speaker in video.celebration.speakers %}
                        <h3>{{ speaker.person.firstname }} {{ speaker.person.lastname }}</h3>
                        <p class="function">{{ speaker.person.function }}</p>
                    {% endfor %}

                    <p class="desc">{{ video.celebration.description }}</p>
                </section>
                {% if videos|length %}
                    <section class="right">
                        <h2><span>Du même orateur</span></h2>

                        {% for video in videos %}
                            <a href="{{ path('gospelcenterMedia_video', {'video': video.celebration.video.id}) }}">
                                <div class="container">
                                    {% if video.celebration.image %}
                                        {% set tvImg = video.celebration.image.webPath %}
                                        <div class="image"
                                             style="background-image: url('{{ asset(tvImg) }}')"
                                             data-bg="{{ asset(tvImg)| imagine_filter('tv_wall') }}"
                                             data-bg_2x="{{ asset(tvImg)| imagine_filter('tv_wall_2x') }}"
                                             data-bg_tablet="{{ asset(tvImg)| imagine_filter('tv_wall_tablet') }}"
                                             data-bg_tablet_2x="{{ asset(tvImg)| imagine_filter('tv_wall_tablet_2x') }}"
                                             data-bg_mobile="{{ asset(tvImg)| imagine_filter('tv_wall_mobile') }}"
                                             data-bg_mobile_2x="{{ asset(tvImg)| imagine_filter('tv_wall_mobile_2x') }}"
                                                ></div>
                                        <div class="gradient"></div>
                                    {% else %}
                                        <div class="bg"></div>
                                    {% endif %}
                                    <div class="hover">
                                        <div class="picto_play"></div>
                                        <span>Regarder la vidéo</span>
                                    </div>
                                    <div class="details">
                                        <span>{{ video.celebration.title }}</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <div class="clear"></div>
                    </section>
                {% endif %}
            {% endspaceless %}
        </section>
    </section>
{% endblock %}