{% extends "::mobileLocal.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block headerCenter %}Gospel Center {{ center.name }}{% endblock %}

{% block body %}
    
    {% spaceless %}

    {% if celebrations|length %}
        {% for celebration in celebrations %}
            
            {% set speakers = '' %}
        
            {% for key, speaker in celebration.speakers %}
                
                {% if key != 0 and key != (celebration.speakers|length -1) %}
                    {% set speakers = speakers ~ ', '%}
                {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                    {% set speakers = speakers ~ ' et '%}
                {% endif %}
                
                {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
                
            {% endfor %}
            
            <a class="bigList {% if not celebration.image %}empty{% endif %}" href="{{ path('gospelcenterCelebrations_list', {'center': center.ref}) }}">
                {% if celebration.image %}
                    <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                {% endif %}
                <section class="details">
    	            <h1>Celebration of {{ celebration.startingDate|date('j F') }}</h1>
    	            {% if speakers %}<span>with {{ speakers }}</span>{% endif %}
                </section>
            </a>
        {% endfor %}
    {% endif %}
    
    {% if events|length %}
        {% for event in events %}
        
            {% set date = '' %}
            
            {% if event.startingDate|date('dmy') == event.endingDate|date('dmy') %}
                {% set date = event.startingDate|date('j F') %}
            {% else %}
                {% if event.startingDate|date('my') == event.endingDate|date('my') %}
                    {% set date = event.startingDate|date('j') ~ ' - ' ~ event.endingDate|date('j') ~ ' ' ~ event.startingDate|date('F') %}
                {% else %}
                    {% set date = event.startingDate|date('j F') ~ ' - ' ~ event.endingDate|date('j F') %}
                {% endif %}
            {% endif %}
            
            {% if event.startingDate|date('Y') != "now"|date('Y') or event.endingDate|date('Y') != "now"|date('Y') %}
                {% set date = date ~ event.startingDate|date(' Y') %}
                
                {% if event.startingDate|date('Y') != event.endingDate|date('Y') %}
                    {% set date = event.startingDate|date('j F Y') ~ ' - ' ~ event.endingDate|date('j F Y') %}
                {% endif %}
            {% endif %}
            
            <a class="bigList" href="{{ path('gospelcenterEvents_event', {'center': center.ref, 'event': event.id}) }}">
                <img src="{{ asset(event.picture.webPath) }}" alt="{{ event.title }}" />
                <section class="details">
    	            <h1>{{ event.title }}</h1>
    	            <span>{{ date }}</span>
                </section>
            </a>
        {% endfor %}
    {% endif %}
    
    {% endspaceless %}
    
{% endblock %}