{% extends "gospelcenterUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <h1>Change your password</h1>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        
        {{ form_widget(form.current_password, {'attr': {'placeholder': 'Current password'} }) }}
        {{ form_errors(form.current_password) }}
        
        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'New password'} }) }}
        {{ form_errors(form.plainPassword.first) }}
        
        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmation'} }) }}
        {{ form_errors(form.plainPassword.second) }}
        
        {{ form_widget(form) }}
                
        <input type="submit" class="buttonRounded" value="Save" />
    </form>
{% endblock %}
