<section class="header gray">

    <article>
        {% spaceless %}
            <div>
                <h1>{{ 'gc.title.positive'|trans }}</h1>

                <p>{{ 'gc.page.about.positive'|trans }}</p>
            </div>

            <div>
                <h1>{{ 'gc.title.practice'|trans }}</h1>

                <p>{{ 'gc.page.about.practice'|trans }}</p>
            </div>

            <div>
                <h1>{{ 'gc.title.powerful'|trans }}</h1>

                <p>{{ 'gc.page.about.powerful'|trans }}</p>
            </div>
        {% endspaceless %}
    </article>

</section>


<section class="tab autoScroll">

<nav class="sub_nav">
    {% spaceless %}
        <ul class="classic">
            <li><a href="#about" class="current focus">About</a></li>
            <li><a href="#leadership">Leadership</a></li>
            <li><a href="#staff">Staff</a></li>
            <li><a href="#what-we-believe">Statement of Faith</a></li>
        </ul>
    {% endspaceless %}
</nav>

<article class="tab blog-style active" id="about">

    <h1>A place where miracles happen!</h1>

    {% set aboutImg = 'bundles/gospelcenterpage/images/a-propos.jpg' %}

    <img class="big"
         src="{{ asset(aboutImg)| imagine_filter('blog_big_low') }}"
         srcset="{{ asset(aboutImg)| imagine_filter('blog_big_low') }} 2x"
         data-img="{{ asset(aboutImg)| imagine_filter('blog_big') }}"
         data-img_2x="{{ asset(aboutImg)| imagine_filter('blog_big_2x') }}"
         data-img_tablet="{{ asset(aboutImg)| imagine_filter('blog_big_tablet') }}"
         data-img_tablet_2x="{{ asset(aboutImg)| imagine_filter('blog_big_tablet_2x') }}"
         data-img_mobile="{{ asset(aboutImg)| imagine_filter('blog_big_mobile') }}"
         data-img_mobile_2x="{{ asset(aboutImg)| imagine_filter('blog_big_mobile_2x') }}">

    <h2 class="underline"><span>Qui</span></h2>

    <p>Le Gospel Center Lausanne est membre du Réseau évangélique suisse (<a target="_blank"
                                                                             href="http://www.evangelique.ch">RES</a>),
        et de la Fédération romande des Églises
        évangéliques (<a target="_blank" href="http://www.lafree.ch">FREE</a>).</p>

    <h2 class="underline"><span>Comment</span></h2>

    <p>Le Gospel Center a le désir de vivre l’évangile de la façon la plus complète possible, y compris dans la
        dimension de la guérison divine et du miraculeux.</p>

    <p>Le Gospel Center a comme vision de communiquer avec des moyens modernes qui rejoignent les personnes dans leur
        réalité. Les médias, l’audiovisuel, ainsi que les activités mises en place poursuivent ce but.</p>

    <p>Nous sommes convaincus de l’importance de la diversité des façons de vivre la foi et de la richesse qu’apportent
        les simples moments de vie partagés. Les célébrations du dimanche soir ne sont qu’une facette de la vie
        chrétienne.</p>

    <h2 class="underline"><span>Pourquoi</span></h2>

    <p>Le Gospel Center existe dans le but de stimuler, développer et faire découvrir un mode de vie positif, pratique,
        puissant, basé sur Jésus au travers de la Bible. Nous croyons que la vie d’un chrétien ne s’arrête pas aux
        dimanches mais se vit aussi le reste de la semaine dans des activités diverses, dans nos lieux de vie respectifs
        comme dans les programmes offerts par l’église.</p>

    <p>Le Gospel Center souhaite offrir un espace où la dimension de la communion fraternelle est un élément central. Un
        espace où la foi de chacun peut grandir de manière saine et équilibrée, aussi bien dans la dimension du faire
        que de l’être. Nous souhaitons voir Dieu agir au travers de miracles, de guérisons et de vies transformées.</p>

    <h2 class="underline"><span>Structure</span></h2>

    <p>Le Gospel Center fonctionne pour et par ses « bases », qui sont le regroupement de 4 à 7 personnes par centre
        d’intérêts. Le but est de proposer un lieu de taille accessible sur le plan relationnel où il est possible
        d’avancer régulièrement et de manière personnelle dans sa maturité spirituelle. Les ”bases” mettent l’accent
        aussi bien sur les moments de vie partagés (sport, sorties, activités culturelles, etc.) que sur les temps
        d’échange autour de la Bible. Le Gospel Center veut offrir la possibilité à chaque personne de s’investir selon
        ses capacités, son temps et sa motivation dans la vie de sa ”base” et par prolongement dans celle de
        l’Eglise.</p>

    <h2 class="underline"><span>Finances</span></h2>

    <p>Le Gospel Center Lausanne ne bénéficie d’aucun soutien de l’État. C’est une association à but non lucratif.
        L’ensemble des frais de fonctionnement est assumé par l’engagement libre de chacun. Nos comptes sont approuvés
        par l’Assemblée générale après vérification par une fiduciaire.</p>

</article>

<article class="tab default" id="leadership">

    {% spaceless %}

        <article class="people">
            <img class="radius round" src="{{ asset('bundles/gospelcenterpage/images/MarcGallay.png') }}" alt="Marc Gallay"/>
            <section>
                <h1>Marc Gallay</h1>

                <p>Pasteur</p>

                <p>Membre du conseil de direction</p>
            </section>

        </article>

        <article class="people">
            <img class="radius round" src="{{ asset('bundles/gospelcenterpage/images/SimonMoser.png') }}" alt="Simon Moser"/>
            <section>
                <h1>Simon Moser</h1>

                <p>Membre du conseil de direction</p>
            </section>
        </article>

        <article class="people">
            <img class="radius round" src="{{ asset('bundles/gospelcenterpage/images/Pierre-AndreDinatale.png') }}"
                 alt="Pierre-André Dinatale"/>
            <section>
                <h1>Pierre-André Dinatale</h1>

                <p>Membre du conseil de direction</p>
            </section>
        </article>

        <article class="people">
            <img class="radius round" src="{{ asset('bundles/gospelcenterpage/images/AlixBingle.png') }}" alt="Alix Bingle"/>
            <section>
                <h1>Alix Bingle</h1>

                <p>Membre du conseil de direction</p>
            </section>
        </article>

        <article class="people">
            <img class="radius round" src="{{ asset('bundles/gospelcenterpage/images/PatrickBigler.png') }}" alt="Patrick Bigler"/>
            <section>
                <h1>Patrick Bigler</h1>

                <p>Membre du conseil de direction</p>
            </section>
        </article>
    {% endspaceless %}

</article>

<article class="tab default" id="staff">

    <h2 class="slogan">The staff of the Gospel Center Lausanne is a dynamic team that wishes to perform quality
        work.</h2>

    <article class="frame">
        <h1>Coord. de l'équipe pastorale</h1>

        <p>Blaise Steffen</p>
    </article>

    <article class="frame">
        <h1>Coord. des Bases</h1>

        <p>Marc Gallay</p>
    </article>

    <article class="frame">
        <h1>Gospel Center Band</h1>

        <p>Marc Gallay</p>
    </article>

    <article class="frame">
        <h1>Technique son</h1>

        <p>Marc Rapelli</p>
    </article>

    <article class="frame">
        <h1>Responsable jeunesse</h1>

        <p>Loïc Marsh</p>
    </article>

    <article class="frame">
        <h1>Gospel Minis (0-3 ans)</h1>

        <p>Laetitia Crelier</p>

        <p>Fabienne Grisoni</p>
    </article>

    <article class="frame">
        <h1>Gospel Kids (4-7 ans)</h1>

        <p>Francine Gerber</p>
    </article>

    <article class="frame">
        <h1>Gospel Teens (7-13 ans)</h1>

        <p>Fiona Bland</p>
    </article>

    <article class="frame">
        <h1>Gospel Youth</h1>

        <p>Alix Bingle</p>

        <p>Fiona Bland</p>
    </article>

    <article class="frame">
        <h1>Technique visuelle</h1>

        <p>Timothée Weiss</p>
    </article>

    <article class="frame">
        <h1>Accueil</h1>

        <p>Vincent Spycher</p>

        <p>Héloïse Monod</p>
    </article>

    <article class="frame">
        <h1>Resp. équipiers de prière</h1>

        <p>Blaise Steffen</p>
    </article>

    <article class="frame">
        <h1>Resp. du bar</h1>

        <p>Mireille Steffen</p>
    </article>

</article>

<article class="tab blog-style" id="what-we-believe">

    <h1>What we believe</h1>

    {% set believeImg = 'bundles/gospelcenterpage/images/confession.jpg' %}

    <img class="big"
         src="{{ asset(believeImg)| imagine_filter('blog_big_low') }}"
         srcset="{{ asset(believeImg)| imagine_filter('blog_big_low') }} 2x"
         data-img="{{ asset(believeImg)| imagine_filter('blog_big') }}"
         data-img_2x="{{ asset(believeImg)| imagine_filter('blog_big_2x') }}"
         data-img_tablet="{{ asset(believeImg)| imagine_filter('blog_big_tablet') }}"
         data-img_tablet_2x="{{ asset(believeImg)| imagine_filter('blog_big_tablet_2x') }}"
         data-img_mobile="{{ asset(believeImg)| imagine_filter('blog_big_mobile') }}"
         data-img_mobile_2x="{{ asset(believeImg)| imagine_filter('blog_big_mobile_2x') }}">

    <p>Nous croyons que la Bible est inspirée par Dieu. La Parole de Dieu est la base unique de notre foi, de notre
        doctrine, et conduit nos actions.</p>

    <p>Nous croyons au Dieu unique qui existe en trois identités distinctes : le Père, Son fils Jésus-Christ et le
        Saint-Esprit.</p>

    <p>Nous croyons que tous les hommes ont péché et sont séparés de la gloire de Dieu. Nous croyons au salut des
        pécheurs par la grâce, au travers de la repentance et de la foi en l’œuvre parfaite et suffisante du
        sacrifice de Jésus à la croix.</p>

    <p>Nous croyons en l’Eglise, non en tant qu’institution humaine mais comme le rassemblement des croyants autour
        du chef de celle-ci: Jésus-Christ.</p>

</article>


</section>