{% extends "gospelcenterUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <h1>Reset</h1>

    {% if error %}
        <article class="error">
            <span>{{ error|trans }}</span>
        </article>
    {% endif %}
    
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    </form>
    
{% endblock %}