{% extends "::adminGlobal.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/form.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Edit a unit
{% endblock %}

{% block adminBody %}
    
    <h1>Edit a unit</h1>
    
    <form class="unit" action="{{ path('gospelcenterAdminGlobal_options_units_edit', {'unit': unit.id}) }}" method="post" {{ form_enctype(form) }}>
        
        <nav class="tools">
    		<input type="submit" class="buttonLink" />
    	</nav>
        
        {{ form_widget(form.name, {'attr': {'placeholder': 'Title'} }) }}
        {{ form_errors(form.name) }}
        
        <table class="main">
            <thead>
                <tr>
                    <th>Services</th>
                    <th class="center">VIEW</th>
                    <th class="center">EDIT</th>
                    <th class="center">CREATE</th>
                    <th class="center">DELETE</th>
                    <th class="center">UNDELETE</th>
                    <th class="center">OPERATOR</th>
                    <th class="center">MASTER</th>
                </tr>
            </thead>
            <tbody>
                {% for access in accesses %}
                    <tr>
                        <td>{{ access.service }}</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">There are no accesses.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        
        {{ form_rest(form) }}
        
    </form>
    
{% endblock %}
