{% extends "gospelcenterPeopleBundle::global.html.twig" %}

{% block gospelcenterAdminPeople_body %}
    <table class="main">
        <thead>
            <tr>
                <th data-sort="string">Firstname</th>
                <th data-sort="string">Lastname</th>
                <th data-sort="string">Gender</th>
                <th data-sort="int">Date of birth</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{{ path('gospelcenterAdminGlobal_persons_edit', {'person': person.id}) }}">{{ person.firstName }}</a></td>
                    <td><a href="{{ path('gospelcenterAdminGlobal_persons_edit', {'person': person.id}) }}">{{ person.lastName }}</a></td>
                    <td><a href="{{ path('gospelcenterAdminGlobal_persons_edit', {'person': person.id}) }}">{{ person.gender }}</a></td>
                    <td data-sort-value="{% if person.dateOfBirth %}{{ person.dateOfBirth|date('U') }}{% endif %}"><a href="{{ path('gospelcenterAdminGlobal_persons_edit', {'person': person.id}) }}">{% if person.dateOfBirth %}{{ person.dateOfBirth|date('d F Y') }}{% endif %}</a></td>
                </tr>
            {% else %}
                <tr><td colspan="4">There are no contacts.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}