{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/addImage.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/addVideo.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/addCelebrationNew.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'gc.admin.celebrations.add'|trans }}
{% endblock %}

{% block adminTitle %}<h1>{{ 'gc.admin.celebrations.add'|trans }}</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_celebrations', {'center': center.ref}) }}">{{ 'gc.admin.title.celebrations'|trans }}</a>
{% endblock %}

{% block adminBody %}
    {% spaceless %}
        <form class="celebration" action="{{ path('gospelcenterAdmin_celebrations_add', {'center': center.ref}) }}"
              method="post" {{ form_enctype(form) }}>

            <section class="tab">

                <nav class="sub_nav">

                    <ul>
                        <li><a href="#general" class="current focus">{{ 'gc.admin.celebrations.tab.general'|trans }}</a></li>
                        <li><a href="#preaching">{{ 'gc.admin.celebrations.tab.preaching'|trans }}</a></li>
                        <li><a href="#media">{{ 'gc.admin.celebrations.tab.media'|trans }}</a></li>
                    </ul>
                </nav>

                <article class="tab active" id="general">

                    <fieldset class="datetime date">
                        <h2>{{ 'gc.admin.celebrations.date_of'|trans }}</h2>

                        {{ form_widget(form.dateLocal) }}
                        {{ form_errors(form.dateLocal) }}
                    </fieldset>

                    <fieldset class="datetime times">
                        <h2>{{ 'gc.admin.celebrations.time'|trans }}</h2>

                        <div>
                            {{ form_widget(form.startingTime) }}
                            {{ form_errors(form.startingTime) }}

                            -

                            {{ form_widget(form.endingTime) }}
                            {{ form_errors(form.endingTime) }}
                        </div>
                    </fieldset>

                    <fieldset class="inline">

                        {{ form_widget(form.status) }}
                        {{ form_errors(form.status) }}

                        {{ form_widget(form.bestOf) }}
                        {{ form_errors(form.bestOf) }}

                        {{ form_widget(form.kidsProgram) }}
                        {{ form_errors(form.kidsProgram) }}

                    </fieldset>

                    {{ form_widget(form.image.file) }}
                    {{ form_errors(form.image.file) }}

                    {{ form_widget(form.location) }}
                    {{ form_errors(form.location) }}

                    <section class="selectList" id="speakerSearch" data-title="Select speakers" data-center="{{ center.ref }}"></section>

                    {{ form_widget(form.existingSpeakers) }}
                    {{ form_errors(form.existingSpeakers) }}

                </article>

                <article class="tab" id="preaching">
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}

                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </article>

                <article class="tab" id="media">
                    <div id="videoContainer"></div>
                    {{ form_widget(form.video) }}
                    {{ form_errors(form.video) }}

                    <section class="selectList" id="soundCloudSearch" data-title="Select an audio" data-center="{{ center.ref }}"></section>

                    {{ form_widget(form.audio) }}
                    {{ form_errors(form.audio) }}

                    {#
                    {{ form_widget(form.tags) }}
                    {{ form_errors(form.tags) }}
                    #}

                </article>
            </section>

            {{ form_rest(form) }}

            <input type="submit" class="buttonLink" value="{{ 'gc.admin.celebrations.add'|trans }}"/>

        </form>
    {% endspaceless %}

{% endblock %}

{% block jsTemplating %}
    {{ parent() }}
    <script id="videoIframe" type="text/x-handlebars-template">
        {% raw %}
        {{#if youtube }}
        <iframe id="ytplayer" type="text/html" width="550" height="309"
                src="http://www.youtube.com/embed/{{ id }}?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0"
                frameborder="0" allowfullscreen></iframe>
        {{/if}}

        {{#if vimeo }}
        <iframe src="//player.vimeo.com/video/{{ id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=89ceb7"
                width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
        {{/if}}

        {{#if dailymotion }}
        <iframe frameborder="0" width="550" height="309"
                src="//www.dailymotion.com/embed/video/{{ id }}?logo=0&info=0&foreground=EBEBEB&highlight=89CEB7&background=878787"
                allowfullscreen></iframe>
        {{/if}}

        {% endraw %}
    </script>
{% endblock %}