{% extends "::adminLocalNew.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'gc.admin.title.celebrations'|trans }}
{% endblock %}

{% block adminTitle %}<h1>{{ 'gc.admin.title.celebrations'|trans }}</h1>{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_celebrations_add', {'center': center.ref}) }}" class="add">{{ 'gc.admin.title.add'|trans }}</a>
{% endblock %}

{% block adminListBody %}
    <table class="main">
        <thead>
        <tr>
            <th data-sort="int" data-sort-default="desc">{{ 'gc.admin.celebrations.date'|trans }}<span>{{ 'gc.admin.celebrations.date'|trans }}<div class="arrow"></div></span></th>
            <th data-sort="int">{{ 'gc.admin.celebrations.time'|trans }}<span>{{ 'gc.admin.celebrations.time'|trans }}<div class="arrow"></div></span></th>
            <th data-sort="string">{{ 'gc.admin.celebrations.speakers'|trans }}<span>{{ 'gc.admin.celebrations.speakers'|trans }}<div class="arrow"></div></span></th>
        </tr>
        </thead>
        <tbody>
        {% for celebration in celebrations %}

            {% set link = path('gospelcenterAdmin_celebrations_edit', {'celebration': celebration.id, 'center': center.ref}) %}

            <tr {% if date(celebration.date.start) < date("now") %}class="old"
                {% endif %}{% if date(celebration.date.start) < date("+6days") %}class="today"{% endif %}>
                <td class="em" data-sort-value="{{ celebration.date.start|date('U') }}">
                    <a href="{{ link }}">
                        <span>{{ celebration.date.start|localizeddate('long', 'none') }}</span>
                    </a>
                </td>
                <td data-sort-value="{{ celebration.date.start|date('Hi') }}{{ celebration.date.start|date('U') }}">
                    <a href="{{ link }}">
                        <span>{{ celebration.date.start|localizeddate('none', 'short') }} - {{ celebration.date.end|localizeddate('none', 'short') }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        <span>{{ celebration|speakers(app.request.locale) }}</span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                <td colspan="4">There are no celebrations.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}