{% extends "::localNew.html.twig" %}

{% block title %}
    {{ parent() }} - Events
{% endblock %}



{% block body %}

    <h1 class="titlePage"><span>{{ 'gc.title.events'|trans }}</span></h1>


    <section class="gray" id="events">

        <section class="default">

            {% spaceless %}
                {% for event in events %}
                    <a href="{{ path('gospelcenterEvents_event', {'event': event.id, 'center': center.ref}) }}"
                       class="events">
                        <section class="picture">
                            {% if event.picture|length %}<img src="{{ asset(event.picture.webPath) }}"
                                                              alt="{{ event.picture.alt }}"/>{% endif %}
                        </section>
                        <section class="detail">
                            <h1>{{ event.title }}</h1>
                            {% if event.dates|length %}
                                <time class="date">{{ event.dates[0].start|localizeddate('long', 'none') }}</time>
                            {% endif %}
                        </section>
                    </a>
                {% else %}
                    <span class="empty">There are no events to come.</span>
                {% endfor %}
            {% endspaceless %}
        </section>
    </section>

    <section class="default" id="agenda">
        {% spaceless %}

            {% set month = null %}

            {% for date in dates %}

                {% if month == null or month != date.start|date('F') %}

                    {% set month = date.start|date('F') %}

                    <h2><span>{{ month }}</span></h2>

                {% endif %}

                {% if date.event %}

                    {% set event = date.event %}

                    <a href="{{ path('gospelcenterEvents_event', {'event': event.id, 'center': center.ref}) }}"
                       class="date">
                        <section class="date">
                            <time class="day">{{ date.start|localizeddate('medium', 'none') }}</time>
                            <time class="date">{{ date.start|localizeddate('none', 'short') }} - {{ date.end|localizeddate('none', 'short') }}</time>
                            <time class="day mobile">{{ date.start|localizeddate('short', 'none') }}</time>
                            <time class="date mobile">{{ date.start|localizeddate('none', 'short') }}</time>
                        </section>
                        <section class="title">
                            <div class="container">
                                <h1>{{ event.title }}</h1>
                            </div>
                        </section>
                        <section class="location">
                            <span>{{ event.location.name }}</span>
                        </section>
                    </a>
                {% endif %}

                {% if date.celebration %}

                    {% set celebration = date.celebration %}

                    {% set speakers = '' %}

                    {% for key, speaker in celebration.speakers %}

                        {% if key != 0 and key != (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ ', ' %}
                        {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ 'gc.generic.and'|trans %}
                        {% endif %}

                        {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                    {% endfor %}

                    <a href="{{ path('gospelcenterCelebrations_list', {'center': center.ref}) }}" class="date">
                        <section class="date">
                            <time class="day">{{ date.start|localizeddate('medium', 'none') }}</time>
                            <time class="date">{{ date.start|localizeddate('none', 'short') }} - {{ date.end|localizeddate('none', 'short') }}</time>
                            <time class="day mobile">{{ date.start|localizeddate('short', 'none') }}</time>
                            <time class="date mobile">{{ date.start|localizeddate('none', 'short') }}</time>
                        </section>
                        <section class="title">
                            <div class="container">
                                <h1> {{ 'gc.generic.celebrationWith'|trans }} {{ speakers }}</h1>
                            </div>
                        </section>
                        <section class="location">
                            <span>{{ celebration.location.name }}</span>
                        </section>
                    </a>
                {% endif %}
            {% else %}
                <span class="empty">There are no events to come.</span>
            {% endfor %}
        {% endspaceless %}
    </section>

{% endblock %}