{% extends "gospelcenterMediaBundle::mobile.html.twig" %}

{% block headerCenter %}Speakers{% endblock %}

{% block body %}
    
    {% spaceless %}

        {% for speaker in speakers %}
            
            {% set hasMedia = false %}
            {% for celebration in speaker.celebrations %}
                {% if celebration.video or celebration.audio %}
                    {% set hasMedia = true %}
                {% endif %}
            {% endfor %}
            
            {% if hasMedia %}
                <a class="bigList" href="{{ path('gospelcenterMedia_speaker', {'speaker': speaker.person.id}) }}">
                
                    {% set hasImage = false %}
                    {% set nbVideo = 0 %}
                    {% set nbAudio = 0 %}
                    
                    {% for celebration in speaker.celebrations %}                
                        {% if not hasImage and celebration.image %}
                            {% set hasImage = true %}
                            <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                        {% endif %}
                        
                        {% if celebration.video %}
                            {% set nbVideo = nbVideo + 1 %}
                        {% endif %}
                        
                        {% if celebration.audio %}
                            {% set nbAudio = nbAudio + 1 %}
                        {% endif %}
                    {% endfor %}
                    
                    
                    {% set txtQuantity = '' %}
                    
                    {% if nbVideo %}
                        {% set txtQuantity = nbVideo %}
                        
                        {% if nbVideo > 1 %}
                            {% set txtQuantity = txtQuantity ~ ' videos' %}
                        {% else %}
                            {% set txtQuantity = txtQuantity ~ ' video' %}
                        {% endif %}
                    {% endif %}
                    
                    {% if nbAudio %}
                        {% if nbVideo %}
                            {% set txtQuantity = txtQuantity ~ ' and ' ~ nbAudio %}
                        {% else %}
                            {% set txtQuantity = nbAudio %}
                        {% endif %}
                        
                        {% if nbVideo > 1 %}
                            {% set txtQuantity = txtQuantity ~ ' audios' %}
                        {% else %}
                            {% set txtQuantity = txtQuantity ~ ' audio' %}
                        {% endif %}
                    {% endif %}
                    
                    <section class="details">
        	            <h1>{{ speaker.person.firstname }} {{ speaker.person.lastname }}</h1>
        	            <span>{{ txtQuantity }}</span>
                    </section>
                    
                </a>
            {% endif %}
        {% else %}
            <span class="empty">There are no speakers.</span>
        {% endfor %}
        
    {% endspaceless %}
{% endblock %}