<h2 class="slogan findBase">{{ 'gc.page.bases.findBase'|trans }}</h2>

<section id="map" class="map_full">
    <iframe src="http://map.gospel-center.com"></iframe>
</section>

<section class="formGray">
    <h1>{{ 'gc.page.bases.moreInfos'|trans }}</h1>

    <form action="" method="POST">
        <fieldset class="left width1_3">
            <input name="name" type="text" placeholder="{{ 'gc.form.name'|trans }}">
            <input name="email" type="text" placeholder="{{ 'gc.form.e-mail'|trans }}">
            <input name="phone" type="text" placeholder="{{ 'gc.form.phone'|trans }}">
        </fieldset>
        <fieldset class="right width2_3">
            <textarea name="message" placeholder="{{ 'gc.form.message'|trans }}"></textarea>
        </fieldset>
        <input type="submit" value="{{ 'gc.form.send'|trans }}" class="buttonLink"/>
    </form>
</section>