{% extends "::local.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
        
    <img src="{{ asset('images/logoGCL.png') }}" id="logo" alt="Gospel Center {{ center.name }}" />
    
    <section id="news">
        {% if celebrations|length %}
            {% for celebration in celebrations %}
                
                {% set speakers = '' %}
            
                {% for key, speaker in celebration.speakers %}
                    
                    {% if key != 0 and key != (celebration.speakers|length -1) %}
                        {% set speakers = speakers ~ ', '%}
                    {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                        {% set speakers = speakers ~ ' et '%}
                    {% endif %}
                    
                    {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
                    
                {% endfor %}
                
                <a href="{{ path('gospelcenterCelebrations_list', {'center': center.ref}) }}">
                    <section class="img">
                        <img src="{{ asset(celebration.image.webPath) }}" alt="{{ celebration.image.alt }}" />
                    </section>
                    <section class="details">
                        <div>
                            <p>Celebration of {{ celebration.startingDate|date('d F') }}</p>
                            {% if speakers %}<p>with {{ speakers }}</p>{% endif %}
                        </div>
                    </section>
                </a>
            {% endfor %}
        {% endif %}
        
        {% if events|length %}
            {% for event in events %}
                <a href="{{ path('gospelcenterEvents_event', {'center': center.ref, 'event': event.id}) }}"><img src="{{ asset(event.picture.webPath) }}" alt="{{ event.title }}" /></a>
            {% endfor %}
        {% endif %}
    </section>
        
{% endblock %}