{% extends "::localNew.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}



{% block body %}
    <h1 class="titlePage"><span>Youth</span></h1>

    <section class="tab autoScroll">
        <nav class="sub_nav complex">
            <ul>
                {% spaceless %}
                    {% for article in pages %}
                        <li>

                            {% if not article.alias %}
                                {% set alias = article.title|url_encode %}
                            {% else %}
                                {% set alias = article.alias %}
                            {% endif %}

                            <a href="#{{ alias }}"
                               {% if article.alias == group %}class="current focus"{% endif %}>
                                <h1>{{ article.title }}</h1>

                                <h2>{{ article.slogan }}</h2>
                            </a>
                        </li>
                    {% endfor %}
                {% endspaceless %}
            </ul>
        </nav>

        {% for article in pages %}

            {% if not article.alias %}
                {% set alias = article.title|url_encode %}
            {% else %}
                {% set alias = article.alias %}
            {% endif %}

            <article class="tab {% if alias == group %}active{% endif %}"
                     id="{{ alias }}">

                <section class="slider" id="1">

                    {% if article.slides|length > 1 %}
                        <div id="left" class="arrow"></div>{% endif %}

                    <div class="slides">
                        {% spaceless %}
                            {% for slide in article.slides %}
                                <article id="{{ loop.index }}" class="slide"
                                         {% if slide.image %}style="background-image: url('{{ asset(slide.image.webPath) }}')"{% endif %}>
                                    <section class="content">
                                        <h1>{{ slide.title }}</h1>

                                        <p>{{ slide.text|nl2br }}</p>

                                    </section>

                                    {% if slide.link %}
                                        <div class="link">
                                            <a href="{{ slide.link }}"
                                               target="_blank">{% if slide.labelLink %}{{ slide.labelLink }}{% else %}{{ slide.link }}{% endif %}</a>
                                        </div>
                                    {% endif %}


                                </article>
                            {% endfor %}
                        {% endspaceless %}
                    </div>

                    {% if article.slides|length > 1 %}
                        <div id="right" class="arrow"></div>{% endif %}

                    {% if article.slides|length > 1 %}
                        <nav id="slides">
                            <ul>
                                {% for slide in article.slides %}
                                    <li class="{% if loop.index == 1 %}current{% endif %}"
                                        data-slide="{{ loop.index }}"></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endif %}

                </section>
            </article>

        {% endfor %}


    </section>

{% endblock %}