{% extends "::localNew.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} - Celebrations
{% endblock %}

{% block body %}
    <h1 class="titlePage"><span>{{ 'gc.title.celebrations'|trans }}</span></h1>

    <section class="allSunday">
        <h2>All sunday evening at 6pm</h2>
    </section>

    {% if nextCelebrations|length %}

        <h2 class="slogan">{{ 'gc.celebration.nextSpeakers'|trans }}</h2>

        <section id="speakers">

            <article class="default">

                {% spaceless %}
                    {% for celebration in nextCelebrations %}

                        {% set speakers = '' %}

                        {% for key, speaker in celebration.speakers %}

                            {% if key != 0 and key != (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ ', ' %}
                            {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ 'gc.generic.and'|trans %}
                            {% endif %}

                            {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                        {% endfor %}

                        <a class="speaker" data-link="{{ celebration.id }}" data-link-elem="celebrationInfo">

                            <div class="photo"
                                    {% if celebration.image %}
                                style="background-image: url('{{ asset(celebration.image.webPath)| imagine_filter('next_celebration_low') }}')"
                                data-bg="{{ asset(celebration.image.webPath)| imagine_filter('next_celebration') }}"
                                data-bg_2x="{{ asset(celebration.image.webPath)| imagine_filter('next_celebration_2x') }}"
                                data-bg_tablet="{{ asset(celebration.image.webPath)| imagine_filter('next_celebration_tablet') }}"
                                data-bg_tablet_2x="{{ asset(celebration.image.webPath)| imagine_filter('next_celebration_tablet_2x') }}"
                                data-bg_mobile="{{ asset(celebration.image.webPath)| imagine_filter('next_celebration_mobile') }}"
                                data-bg_mobile_2x="{{ asset(celebration.image.webPath)| imagine_filter('next_celebration_mobile_2x') }}"
                                    {% endif %}>
                                <div class="hover"></div>
                            </div>

                            <h1>{{ speakers }}</h1>
                            <time>{{ celebration.date.start|localizeddate('medium', 'none') }}</time>
                        </a>

                    {% endfor %}
                {% endspaceless %}

            </article>

            <article class="celebrationInfos">
                {% for celebration in nextCelebrations %}

                    {% set speakers = '' %}

                    {% for key, speaker in celebration.speakers %}

                        {% if key != 0 and key != (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ ', ' %}
                        {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ 'gc.generic.and'|trans %}
                        {% endif %}

                        {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                    {% endfor %}

                    <article class="celebrationInfo" id="{{ celebration.id }}">

                        <div class="arrow"></div>

                        <section class="info">
                            <h1>{{ 'gc.generic.celebrationWith'|trans }} {{ speakers }}</h1>

                            <span>{{ celebration.date.start|localizeddate('long', 'none') }}</span>
                            <time>{{ celebration.date.start|localizeddate('none', 'short') }}
                                - {{ celebration.date.end|localizeddate('none', 'short') }}</time>

                            <a class="location" href="#map" data-link="moveTo">
                                <div class="icon"></div>
                                <span>{{ celebration.location.name }}</span>

                                <div class="arrow"></div>
                            </a>

                            {% if celebration.kidsProgram %}
                                <a class="kids"
                                   href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'youth'}) }}">
                                    <div class="icon"></div>
                                    <span>{{ 'gc.celebration.kidsProgram'|trans }}</span>

                                    <div class="arrow"></div>
                                </a>
                            {% endif %}

                        </section>

                    </article>

                {% endfor %}
            </article>

        </section>

    {% endif %}

    <section id="description" class="gray">
        <h2>{{ 'gc.celebration.desc'|trans }}</h2>
    </section>

    <section id="map" class="map_full">
        {% spaceless %}
            <iframe src="http://map.gospel-center.com"></iframe>
            <article>
                <h1>Gare de Lausanne</h1>

                <p>Place de la Gare 11<br/>
                    Salle des cantons<br/>
                    1003 Lausanne<br/>
                    Suisse</p>
            </article>
        {% endspaceless %}
    </section>

    {% if lastCelebrations|length %}
        <section id="pastCelebrations" class="gray">
            <h1>{{ 'gc.celebration.watchLast'|trans }}</h1>

            <section class="mediaList">
                {% spaceless %}
                    {% for celebration in lastCelebrations %}

                        {% set speakers = '' %}

                        {% for key, speaker in celebration.speakers %}

                            {% if key != 0 and key != (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ ', ' %}
                            {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ 'gc.generic.and'|trans %}
                            {% endif %}

                            {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                        {% endfor %}

                        <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                            <div class="photo"
                                    {% if celebration.image %}
                                style="background-image: url('{{ asset(celebration.image.webPath)| imagine_filter('media_list_low') }}')"
                                data-bg="{{ asset(celebration.image.webPath)| imagine_filter('media_list') }}"
                                data-bg_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_2x') }}"
                                data-bg_tablet="{{ asset(celebration.image.webPath)| imagine_filter('media_list_tablet') }}"
                                data-bg_tablet_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_tablet_2x') }}"
                                data-bg_mobile="{{ asset(celebration.image.webPath)| imagine_filter('media_list_mobile') }}"
                                data-bg_mobile_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_mobile_2x') }}"
                                    {% endif %}>
                                <div class="playButton"></div>
                            </div>
                            <section class="details">
                                <h1>{{ speakers }}</h1>
                                <span>{{ celebration.date.start|localizeddate('medium', 'none') }}</span>
                            </section>
                        </a>

                    {% endfor %}

                    <a class="more" href="{{ path('gospelcenterMedia_center', {'center': center.ref}) }}">
                        <div class="photo">
                            <span>{{ 'gc.celebration.more'|trans }}</span>
                        </div>
                    </a>
                {% endspaceless %}
            </section>

        </section>
    {% endif %}


{% endblock %}