{% extends "::localNew.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/processed/celebrations.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'gc.title.celebrations'|trans }}
{% endblock %}

{% block meta %}
    <meta name="Description" content="A PLACE WHERE MIRACLES HAPPEN!">
    <meta property="og:title" content="{{ 'gc.title.celebrations'|trans }}"/>
    <meta property="og:site_name" content="Gospel Center {{ center.name }}"/>
    <meta property="og:image" content="http://gc-{{ center.ref }}.org/images/FBshare_celebrations.jpg"/>
    <meta property="og:url" content="http://gc-{{ center.ref }}.org/celebrations"/>
    <meta property="og:description" content="A PLACE WHERE MIRACLES HAPPEN!"/>
    <meta property="og:type" content="website"/>
{% endblock %}

{% block body %}
    <h1 class="titlePage"><span>{{ 'gc.title.celebrations'|trans }}</span></h1>

    {% set customImg = 'bundles/gospelcentercelebration/images/allSunday.jpg' %}
    {% if center.ref == "jura" %}
        {% set customImg = 'bundles/gospelcentercelebration/images/allSunday_jura.jpg' %}
    {% endif %}


    <section class="allSunday"
             style="background-image: url('{{ customImg| imagine_filter('slide_small_low') }}')"
             data-bg="{{ customImg| imagine_filter('slide_small') }}"
             data-bg_2x="{{ customImg| imagine_filter('slide_small_2x') }}"
             data-bg_tablet="{{ customImg| imagine_filter('slide_small_tablet') }}"
             data-bg_tablet_2x="{{ customImg| imagine_filter('slide_small_tablet_2x') }}"
             data-bg_mobile="{{ customImg| imagine_filter('slide_small_mobile') }}"
             data-bg_mobile_2x="{{ customImg| imagine_filter('slide_small_mobile_2x') }}">
        <h2>{% if center.ref == 'lausanne' %}{{ 'gc.celebration.allSunday.lausanne'|trans|nl2br }}{% elseif center.ref == 'annecy' %}{{ 'gc.celebration.allSunday.annecy'|trans|nl2br }}{% elseif center.ref == 'montreux' %}{{ 'gc.celebration.allSunday.montreux'|trans|nl2br }}{% elseif center.ref == 'jura' %}{{ 'gc.celebration.allSunday.jura'|trans|nl2br }}{% endif %}</h2>
    </section>

    {% if nextCelebrations|length %}

        <h2 class="slogan">{{ 'gc.celebration.nextSpeakers'|trans }}</h2>

        <section id="speakers">

            <article class="default">

                {% spaceless %}
                    {% for celebration in nextCelebrations %}

                        <a class="speaker" data-link="{{ celebration.id }}" data-link-elem="celebrationInfo">

                            <div class="photo radius round"
                                    {% if celebration.speakers[0].person.image %}

                                    {% set image = celebration.speakers[0].person.image %}
                                style="background-image: url('{{ asset(image.webPath)| imagine_filter('next_celebration_low') }}')"
                                data-bg="{{ asset(image.webPath)| imagine_filter('next_celebration') }}"
                                data-bg_2x="{{ asset(image.webPath)| imagine_filter('next_celebration_2x') }}"
                                data-bg_tablet="{{ asset(image.webPath)| imagine_filter('next_celebration_tablet') }}"
                                data-bg_tablet_2x="{{ asset(image.webPath)| imagine_filter('next_celebration_tablet_2x') }}"
                                data-bg_mobile="{{ asset(image.webPath)| imagine_filter('next_celebration_mobile') }}"
                                data-bg_mobile_2x="{{ asset(image.webPath)| imagine_filter('next_celebration_mobile_2x') }}"
                                    {% endif %}>
                                <div class="hover radius round"></div>
                            </div>

                            <h1>{{ celebration|speakers(app.request.locale) }}</h1>
                            <time>{{ celebration.date|oneDate_short(app.request.locale) }}</time>
                        </a>

                    {% endfor %}
                {% endspaceless %}

            </article>

            <article class="celebrationInfos">
                {% for celebration in nextCelebrations %}

                    <article class="celebrationInfo" id="{{ celebration.id }}">

                        <div class="arrow"></div>

                        <section class="info">
                            <h1>{{ 'gc.generic.celebrationWith'|trans }} {{ celebration|speakers(app.request.locale) }}</h1>

                            <span>{{ celebration.date|oneDate_short(app.request.locale) }}</span>
                            <time>{{ celebration.date|startTime(app.request.locale) }}</time>

                            <a class="location" href="#map" data-link="moveTo">
                                <div class="icon"></div>
                                <span>{{ celebration.location.name }}</span>

                                <div class="arrow"></div>
                            </a>

                            {% if celebration.kidsProgram %}
                                <a class="kids"
                                   href="{{ path('gospelcenterPage_default', {'center': center.ref, 'domain': center.domain, 'page': 'youth'}) }}">
                                    <div class="icon"></div>
                                    <span>{{ 'gc.celebration.kidsProgram'|trans }}</span>

                                    <div class="arrow"></div>
                                </a>
                            {% endif %}

                        </section>

                        {% set url = "http://gc-" ~ center.ref ~ ".org" ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

                        {% set txt = 'gc.generic.celebrationWith'|trans ~ " " ~ celebration|speakers(app.request.locale) ~ " - " ~ celebration.date|oneDate_short(app.request.locale) ~ " (" ~ celebration.date|startTime(app.request.locale) ~ ")" %}

                        <section class="social">
                            <ul>
                                <li style="list-style: none;">
                                    <a id="facebook" target="_blank" class="icon"
                                       href="https://www.facebook.com/sharer/sharer.php?u={{ url|url_encode }}">Facebook</a>
                                </li>

                                <li style="list-style: none;">
                                    <a id="twitter" target="_blank" class="icon"
                                       href="https://twitter.com/intent/tweet?url={{ url|url_encode }}&text={{ txt }}&original_referer={{ url|url_encode }}">Twitter</a>
                                </li>
                            </ul>

                        </section>

                    </article>

                {% endfor %}
            </article>

        </section>

    {% endif %}

    <section id="description" class="gray">
        <h2>{{ 'gc.celebration.desc'|trans }}</h2>
    </section>

    {% if nextCelebrations|length %}
        <section id="map" class="map_full">
            {% spaceless %}

                {% set celebration_location = nextCelebrations[0].location %}

                {% set map_url = "http://gospel-center.com/api/locations/" ~ celebration_location.id ~ ".geojson" %}

                <iframe src="http://map.gospel-center.com/poi.html?url={{ map_url|url_encode }}"></iframe>

                <article>
                    <h1>{{ celebration_location.name }}</h1>

                    <p>{{ celebration_location.address1 }}<br/>
                        {{ celebration_location.address2 }}<br/>
                        {{ celebration_location.postalCode }} {{ celebration_location.city }}<br/>
                        {{ celebration_location.country }}</p>
                </article>
            {% endspaceless %}
        </section>
    {% endif %}

    {% if lastCelebrations|length %}
        <section id="pastCelebrations" class="gray">
            <h1>{{ 'gc.celebration.watchLast'|trans }}</h1>

            <section class="mediaList" data-nb="{{ lastCelebrations|length +1 }}">
                {% spaceless %}
                    {% for celebration in lastCelebrations %}

                        {% if celebration.video %}

                            <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                                <div class="photo"
                                        {% if celebration.image %}
                                    style="background-image: url('{{ asset(celebration.image.webPath)| imagine_filter('media_list_low') }}')"
                                    data-bg="{{ asset(celebration.image.webPath)| imagine_filter('media_list') }}"
                                    data-bg_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_2x') }}"
                                    data-bg_tablet="{{ asset(celebration.image.webPath)| imagine_filter('media_list_tablet') }}"
                                    data-bg_tablet_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_tablet_2x') }}"
                                    data-bg_mobile="{{ asset(celebration.image.webPath)| imagine_filter('media_list_mobile') }}"
                                    data-bg_mobile_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_mobile_2x') }}"
                                        {% endif %}>
                                    <div class="playButton"></div>
                                </div>
                                <section class="details">
                                    <h1>{{ celebration|speakers(app.request.locale) }}</h1>
                                    <span>{{ celebration.date|oneDate(app.request.locale) }}</span>
                                </section>
                            </a>

                        {% elseif celebration.audio %}

                            <a href="{{ path('gospelcenterMedia_audio', {'audio': celebration.audio.id}) }}">
                                <div class="photo"
                                        {% if celebration.image %}
                                    style="background-image: url('{{ asset(celebration.image.webPath)| imagine_filter('media_list_low') }}')"
                                    data-bg="{{ asset(celebration.image.webPath)| imagine_filter('media_list') }}"
                                    data-bg_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_2x') }}"
                                    data-bg_tablet="{{ asset(celebration.image.webPath)| imagine_filter('media_list_tablet') }}"
                                    data-bg_tablet_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_tablet_2x') }}"
                                    data-bg_mobile="{{ asset(celebration.image.webPath)| imagine_filter('media_list_mobile') }}"
                                    data-bg_mobile_2x="{{ asset(celebration.image.webPath)| imagine_filter('media_list_mobile_2x') }}"
                                        {% endif %}>
                                    <div class="playButton"></div>
                                </div>
                                <section class="details">
                                    <h1>{{ celebration|speakers(app.request.locale) }}</h1>
                                    <span>{{ celebration.date|oneDate(app.request.locale) }}</span>
                                </section>
                            </a>

                        {% endif %}

                    {% endfor %}

                    <a class="more"
                       href="{{ path('gospelcenterMedia_center', {'center': center.ref, 'domain': center.domain}) }}">
                        <div class="photo">
                            <span>{{ 'gc.celebration.more'|trans }}</span>
                        </div>
                    </a>
                {% endspaceless %}
            </section>

        </section>
    {% endif %}


{% endblock %}