{% extends "::localNew.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} - Celebrations
{% endblock %}

{% block body %}
    <h1 class="titlePage"><span>Célébrations</span></h1>

    <section class="allSunday">
        <h2>All sunday evening at 6pm</h2>
    </section>

    {% if nextCelebrations|length %}

        <h2 class="slogan">Next speakers</h2>

        <section id="speakers">

            <article class="default">

                {% spaceless %}
                    {% for celebration in nextCelebrations %}

                        {% set speakers = '' %}

                        {% for key, speaker in celebration.speakers %}

                            {% if key != 0 and key != (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ ', ' %}
                            {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ ' et ' %}
                            {% endif %}

                            {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                        {% endfor %}

                        <a class="speaker" data-link="{{ celebration.id }}" data-link-elem="celebrationInfo">

                            <div class="photo"
                                 {% if celebration.image %}style="background-image: url('{{ asset(celebration.image.webPath) }}')"{% endif %}>
                                <div class="hover"></div>
                            </div>

                            <h1>{{ speakers }}</h1>
                            <time>{{ celebration.date.start|date('j F') }}</time>
                        </a>

                    {% endfor %}
                {% endspaceless %}

            </article>

            <article class="celebrationInfos">
                {% for celebration in nextCelebrations %}

                    {% set speakers = '' %}

                    {% for key, speaker in celebration.speakers %}

                        {% if key != 0 and key != (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ ', ' %}
                        {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                            {% set speakers = speakers ~ ' et ' %}
                        {% endif %}

                        {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                    {% endfor %}

                    <article class="celebrationInfo" id="{{ celebration.id }}">

                        <div class="arrow"></div>

                        <section class="info">
                            <h1>Celebration with {{ speakers }}</h1>

                            <span>{{ celebration.date.start|date('j F Y') }}</span>
                            <time>{{ celebration.date.start|date('H:i') }}
                                - {{ celebration.date.end|date('H:i') }}</time>

                            <a class="location" href="#map" data-link="moveTo">
                                <div class="icon"></div>
                                <span>{{ celebration.location.name }}</span>

                                <div class="arrow"></div>
                            </a>

                            {% if celebration.kidsProgram %}
                                <a class="kids"
                                   href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'youth'}) }}">
                                    <div class="icon"></div>
                                    <span>Special program for kids</span>

                                    <div class="arrow"></div>
                                </a>
                            {% endif %}

                        </section>

                    </article>

                {% endfor %}
            </article>

        </section>

    {% endif %}

    <section id="description" class="gray">
        <h2>Centrées sur la manifestation de la puissance de Dieu, les célébrations sont composées de musique live, d’un
            message percutant, de contacts et plein d’autres surprises. L’accent y est mis sur la foi et la réalité de
            Dieu aujourd’hui.</h2>
    </section>

    <section id="map" class="map_full">
        <iframe src="http://map.gospel-center.com"></iframe>
        <article>
            <h1>Gare de Lausanne</h1>

            <p>Place de la Gare 11<br/>
                Salle des cantons<br/>
                1003 Lausanne<br/>
                Suisse</p>
        </article>
    </section>

    {% if lastCelebrations|length %}
        <section id="pastCelebrations" class="gray">
            <h1>Watch our last celebrations</h1>

            <section class="mediaList">
                {% spaceless %}
                    {% for celebration in lastCelebrations %}

                        {% set speakers = '' %}

                        {% for key, speaker in celebration.speakers %}

                            {% if key != 0 and key != (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ ', ' %}
                            {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                                {% set speakers = speakers ~ ' et ' %}
                            {% endif %}

                            {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}

                        {% endfor %}

                        <a href="{{ path('gospelcenterMedia_video', {'video': celebration.video.id}) }}">
                            <div class="photo"
                                 {% if celebration.image %}style="background-image: url('{{ asset(celebration.image.webPath) }}')"{% endif %}>
                                <div class="playButton"></div>
                            </div>
                            <section class="details">
                                <h1>{{ speakers }}</h1>
                                <span>{{ celebration.date.start|date('d F') }}</span>
                            </section>
                        </a>

                    {% endfor %}

                    <a class="more" href="{{ path('gospelcenterMedia_center', {'center': center.ref}) }}">
                        <div class="photo">
                            <span>More</span>
                        </div>
                    </a>
                {% endspaceless %}
            </section>

        </section>
    {% endif %}


{% endblock %}