<section class="tab autoScroll">

    <nav class="sub_nav">
        {% spaceless %}
            <ul class="complex">
                <li>
                    <a href="#minis" class="current focus">
                        <h1>Minis</h1>

                        <h2>0-3 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#kids">
                        <h1>Kids</h1>

                        <h2>4-7 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#heroes">
                        <h1>Heroes</h1>

                        <h2>7-12 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#full-pack">
                        <h1>Full Pack</h1>

                        <h2>0-12 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#teens">
                        <h1>Teens</h1>

                        <h2>12-16 ans</h2>
                    </a>
                </li>
                <li>
                    <a href="#youth">
                        <h1>Youth</h1>

                        <h2>16-25 ans</h2>
                    </a>
                </li>
            </ul>
        {% endspaceless %}
    </nav>

    <article class="tab active" id="minis">
        <article class="blog-style">

            <h1>Gospel Minis</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/beroche/minis.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


            <h2 class="underline"><span>Minicell'</span></h2>

            <p>Programme d’éveil à la foi pour les tout-petits donné par une équipe d’animatrices motivées ! Chaque
                dimanche, après la louange, un des parents accompagne son enfant dans le groupe et reste environ 15
                minutes
                pour vivre ce temps avec lui. Un moment ludique, chaleureux, qui encourage ces juniors à entrer dans une
                relation tout en douceur avec Dieu ! Que ce soit au travers de petites chansons, de découvertes
                visuelles et
                tactiles, le programme Minicell’ est un rendez-vous privilégié à ne pas manquer !</p>

            <h2 class="underline"><span>Garderie</span></h2>

            <p>La garderie prend le relais à la suite de l’activité Minicell !</p>

            <p>Des jeux, des histoires, une collation … tout pour ravir les yeux et le cœur de ces tout-petits !</p>

            {% if dates_minis|length %}

                <h3>Prochaines dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_minis %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}


        </article>
    </article>

    <article class="tab" id="kids">
        <article class="blog-style">

            <h1>Gospel Kids</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/beroche/kids.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


            <p>Dieu n’est pas qu’une affaire d’adultes, bien au contraire ! Et c’est ce que chaque enfant pourra
                découvrir
                chaque semaine !</p>

            <p>Accompagnés par des responsables dynamiques, les enfants découvriront des histoires de la Bible
                passionnantes, se feront des amis et pourront faire des jeux et des bricolages.</p>

            <p>Parce que les enfants sont l'Eglise d'aujourd’hui!</p>

            {% if dates_kids|length %}

                <h3>Prochaines dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_kids %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}


        </article>
    </article>

    <article class="tab" id="heroes">
        <article class="blog-style">

            <h1>Gospel Heroes</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/beroche/heroes.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <p>Les Heroes, c’est l’endroit à ne pas manquer pour les jeunes de la 5ème à la 8ème. Expérimenter la
                présence et la puissance de Dieu, vivre des moments de défis, connaître l’amour de Dieu et développer de
                nouvelles amitiés sont des points clés pour cette équipe.</p>


            {% if dates_heroes|length %}

                <h3>Prochaines dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_heroes %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}


        </article>
    </article>

    <article class="tab" id="full-pack">
        <article class="blog-style">

            <h1>Full Pack</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/beroche/full-pack.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <h2 class="underline"><span>Une célébration de A à Z</span></h2>

            <p>LOUANGE, SKETCH, ANIMATION, COLLATION et pleins d'autres surprises encore !</p>

            <p>Une équipe de jeunes motivés est à l’œuvre pour concocter un programme délirant qui motivera vos enfants
                et
                les aidera à bien commencer la semaine!</p>

            <p>Pour les dates, veuillez-vous référer à la page « Events »</p>


            {% if dates_fullPack|length %}

                <h3>Prochaines dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_fullPack %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}

        </article>


    </article>

    <article class="tab" id="teens">
        <article class="blog-style">

            <h1>Gospel Teens</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/beroche/teens.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">


            <p>Le Gospel Teens, un groupe encore en préparation, c’est là où il faudra aller si tu as entre 12 et 16 ans
                et si tu désires vivre des choses folles avec tes potes et un super team de responsables !</p>

            {% if dates_teens|length %}

                <h3>Prochaines dates</h3>

                <p></p>
                <ul>

                    {% for date in dates_teens %}

                        <li>{{ date|datesShort(app.request.locale) }}</li>

                    {% endfor %}

                </ul>

            {% endif %}

        </article>

    </article>

    <article class="tab" id="youth">
        <article class="blog-style">

            <h1>Gospel Youth</h1>

            {% set customImg = 'bundles/gospelcenterpage/images/youth/beroche/gospel-youth.jpg' %}

            <img class="big"
                 src="{{ asset(customImg)| imagine_filter('blog_big_low') }}"
                 srcset="{{ asset(customImg)| imagine_filter('blog_big_low') }} 2x"
                 data-img="{{ asset(customImg)| imagine_filter('blog_big') }}"
                 data-img_2x="{{ asset(customImg)| imagine_filter('blog_big_2x') }}"
                 data-img_tablet="{{ asset(customImg)| imagine_filter('blog_big_tablet') }}"
                 data-img_tablet_2x="{{ asset(customImg)| imagine_filter('blog_big_tablet_2x') }}"
                 data-img_mobile="{{ asset(customImg)| imagine_filter('blog_big_mobile') }}"
                 data-img_mobile_2x="{{ asset(customImg)| imagine_filter('blog_big_mobile_2x') }}">

            <h3>T’as entre 16 et 25 ans ?</h3>

            <p>Envie de connaître Dieu, de vivre une vie qui vaut la peine et de sortir de ta routine ?</p>
            <p>Alors prépare-toi à nous rejoindre dès 2017 le vendredi soir dans nos locaux au Château 3 à Vaumarcus !
                Plus d’info suivront.</p>

            <p>Fun, moments de partages, délires, présence de Dieu et de la bonne louange seront au menu de ces folles
                soirées ! Notre rêve est de faire la différence dans ce monde en suivant l’exemple de Jésus, c’est le
                tien
                aussi ? Alors branche-toi en mode Gospel Youth !</p>


        </article>


        {% if dates_youth|length %}
            <section class="gray" id="events">

                <section class="default">

                    <h3>Prochaines dates</h3>

                    {% for date in dates_youth %}

                        <a href="{{ path('gospelcenterEvents_event', {'event': date.event.id, 'center': center.ref, 'domain': center.domain}) }}"
                           class="events">
                            <section class="picture">
                                {% if date.event.picture %}
                                    <img alt="{{ date.event.picture.alt }}"
                                         src="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_low') }}"
                                         srcset="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_low') }} 2x"
                                         data-img="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture') }}"
                                         data-img_2x="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_2x') }}"
                                         data-img_tablet="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_tablet') }}"
                                         data-img_tablet_2x="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_tablet_2x') }}"
                                         data-img_mobile="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_mobile') }}"
                                         data-img_mobile_2x="{{ asset(date.event.picture.webPath)| imagine_filter('event_picture_mobile_2x') }}">

                                {% endif %}
                            </section>
                            <section class="detail">
                                <h1>{{ date.event.title }}</h1>
                                <time class="date">{{ date|dates(app.request.locale) }}</time>
                            </section>
                        </a>
                    {% endfor %}

                </section>

            </section>

        {% endif %}

    </article>

</section>