{% extends "::mobileAdmin.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block headerLeft%}<a id="back" class="left" href="{{ path('gospelcenterAdmin_images', {'center': center.ref}) }}"></a>{% endblock %}
{% block headerCenter %}Edit an image{% endblock %}
{% block headerRight %}{% endblock %}

{% block body %}
    
    <form action="{{ path('gospelcenterAdmin_images_edit', {'center': center.ref, 'image': image.id}) }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_errors(form) }}
        
        <fieldset class="block">
            {{ form_widget(form.title, {'attr': {'placeholder': 'Title'} }) }}
        </fieldset>
        
        <fieldset class="block">
            {{ form_widget(form.file) }}
        </fieldset>
        
        <fieldset class="block">
            {{ form_widget(form.type, {'attr': {'placeholder': 'Type'} }) }}
            {{ form_widget(form.description, {'attr': {'placeholder': 'Description'} }) }}
        </fieldset>
                
        {{ form_rest(form) }}
        
        <section class="tools">
            <input type="submit" class="buttonRounded" />
        </section>
        
    </form>
    
{% endblock %}