{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Delete an ad
{% endblock %}

{% block adminTitle %}<h1>Delete an ad</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_ads', {'center': center.ref}) }}">Ads</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_ads', {'center': center.ref}) }}">Cancel</a>
{% endblock %}

{% block adminBody %}

    <form class="delete"
          action="{{ path('gospelcenterAdmin_ads_delete', {'center': center.ref, 'ad': ad.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <p>Are you sure you want to delete the ad:</p>
        <section class="details">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.subtitle }}</p>
        </section>

        <input type="submit" class="buttonLink" value="Yes"/>

        <a class="buttonLink" href="{{ path('gospelcenterAdmin_ads', {'center': center.ref}) }}">No</a>

        {{ form_rest(form) }}

    </form>


{% endblock %}