{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/processed/editImage.min.js') }}"></script>

{% endblock %}

{% block title %}
    {{ parent() }} - Edit an ad
{% endblock %}

{% block adminTitle %}<h1>Edit an ad</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_ads', {'center': center.ref, 'domain': center.domain}) }}">Ads</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_ads_delete', {'center': center.ref, 'domain': center.domain, 'ad': ad.id}) }}"
       class="delete">Delete</a>
    <a href="{{ path('gospelcenterAdmin_ads', {'center': center.ref, 'domain': center.domain}) }}">Cancel</a>
{% endblock %}

{% block adminBody %}

    <form class="ad" novalidate action="{{ path('gospelcenterAdmin_ads_edit', {'center': center.ref, 'domain': center.domain, 'ad': ad.id}) }}"
          method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.status) }}
        {{ form_errors(form.status) }}

        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}

        {{ form_widget(form.subtitle) }}
        {{ form_errors(form.subtitle) }}

        {{ form_widget(form.url) }}
        {{ form_errors(form.url) }}

        {{ form_widget(form.type) }}
        {{ form_errors(form.type) }}

        {{ form_widget(form.image.file) }}
        {{ form_errors(form.image.file) }}
        <div id="editImage" data-input="{{ form.image.file.vars.id }}">
            <img src="{{ asset(ad.image.webPath) }}" alt="{{ ad.image.alt }}"/>
        </div>

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Save changes"/>

    </form>

{% endblock %}