{% extends "::adminLocalNew.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'gc.admin.title.ads'|trans }}
{% endblock %}

{% block adminTitle %}<h1>{{ 'gc.admin.title.ads'|trans }}</h1>{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_ads_add', {'center': center.ref, 'domain': center.domain}) }}" class="add">Add an ad</a>
{% endblock %}

{% block adminListBody %}
    <table class="main">
        <thead>
        <tr>
            <th data-sort="string" data-sort-default="desc">Title<span>Title<div class="arrow"></div></span></th>
            <th data-sort="string">Page<span>Page<div class="arrow"></div></span></th>
            <th data-sort="string">Status<span>Status<div class="arrow"></div></span></th>
            <th data-sort="int">Modified date<span>Modified date<div class="arrow"></div></span></th>
        </tr>
        </thead>
        <tbody>
        {% for ad in ads %}

            {% set link = path('gospelcenterAdmin_ads_edit', {'ad': ad.id, 'center': center.ref, 'domain': center.domain}) %}

            <tr>
                <td class="em" data-sort-value="{{ ad.title }}">
                    <a href="{{ link }}">
                        <span>{{ ad.title }}</span>
                    </a>
                </td>
                <td data-sort-value="{{ ad.type }}">
                    <a href="{{ link }}">
                        <span>{{ ad.type }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        <span>{% if ad.status %}Actif{% endif %}</span>
                    </a>
                </td>
                <td data-sort-value="{{ ad.modifiedDate|date('Hi') }}{{ ad.modifiedDate|date('U') }}">
                    <a href="{{ link }}">
                        <span>{{ ad.modifiedDate|date('d F Y') }}</span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                <td colspan="3">There are no ads.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}