{% extends "::local.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/form-min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/event.css') }}" type="text/css" />
{% endblock %}


{% block title %}
    {{ parent() }} - Add an Event
{% endblock %}


{% block body %}
    <article class="event">
        <form method="post" {{ form_enctype(form) }}>
            {#<input name="title" value="{{ event.title }}"></input>#}
            {{ form_widget(form.title, {'attr': {'data-label': 'Title of the event'} }) }}
        	<header>
        		{#<img src="{{ event.cover.url }}" alt="{{ event.cover.alt }}" />#}
        		{{ form_widget(form.cover.title) }}
        		{{ form_widget(form.cover.url) }}
        		{{ form_widget(form.cover.alt) }}
        		{{ form_widget(form.cover.type) }}
        		{{ form_widget(form.cover.description) }}
        		
        		{{ form_widget(form.picture.title) }}
        		{{ form_widget(form.picture.url) }}
        		{{ form_widget(form.picture.alt) }}
        		{{ form_widget(form.picture.type) }}
        		{{ form_widget(form.picture.description) }}
        	</header>
        	<section class="txt">
    	        {#<textarea name="intro_text" class="elastic">{{ event.introText }}</textarea>#}
    	        {{ form_widget(form.introText, {'attr': {'data-label': 'Introductory text'} }, {'attr': {'class': 'elastic'} }) }}
    	        {#<textarea name="full_text" class="elastic">{{ event.text }}</textarea>#}
    	        {{ form_widget(form.text, {'attr': {'data-label': 'Body text'} }, {'attr': {'class': 'elastic'} }) }}
        	</section>
        	<section class="details">
    	        <time>
        	        {{ form_widget(form.startingDate) }}
        	        {{ form_widget(form.endingDate) }}
    	        </time>
    	        {#<input name="locationName" value="{{ event.location.name }}"></input>#}
    	        {{ form_widget(form.location.name, {'attr': {'data-label': 'Name of the location'} }) }}
    	        {#<input name="locationAddress1" value="{{ event.location.Address1 }}"></input>#}
    	        {{ form_widget(form.location.address1, {'attr': {'data-label': 'Address (line 1)'} }) }}
    	        {#<input name="locationAddress2" value="{{ event.location.Address2 }}"></input>#}
    	        {{ form_widget(form.location.address2, {'attr': {'data-label': 'Address (line 2)'} }) }}
    	        {#<input name="locationPostalCode" value="{{ event.location.postalCode }}"></input>#}
    	        {{ form_widget(form.location.postalCode, {'attr': {'data-label': 'Postal code'} }) }}
    	        {#<input name="locationCity" value="{{ event.location.city }}"></input>#}
    	        {{ form_widget(form.location.city, {'attr': {'data-label': 'City'} }) }}
    	        {#<input name="locationCountry" value="{{ event.location.country }}"></input>#}
    	        {{ form_widget(form.location.country, {'attr': {'data-label': 'Country'} }) }}
            </section>
            <nav>
    			<input type="submit" class="buttonLink" />
    		</nav>
        </form>
    </article>
{% endblock %}