{% extends "::local.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/form-min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/event.css') }}" type="text/css" />
{% endblock %}


{% block title %}
    {{ parent() }} - {{ event.title }}
{% endblock %}


{% block body %}
    <article class="event">
        <input name="title" value="{{ event.title }}"></input>
    	<header>
    		<img src="{{ event.cover.url }}" alt="{{ event.cover.alt }}" />
    	</header>
    	<section class="txt">
	        <textarea name="intro_text" class="elastic">{{ event.introText }}</textarea>
	        <textarea name="full_text" class="elastic">{{ event.text }}</textarea>
    	</section>
    	<section class="details">
	        <time>
    	        <select name="starting_day">
    	            {% for day in range(1, 31) %}
    	                {% if day == event.startingDate|date('d') %}
    	                    <option value="{{ day }}" selected>{{ day }}</option>
    	                {% else %}
    	                    <option value="{{ day }}">{{ day }}</option>
                        {% endif %}
                    {% endfor %}
    	        </select>
    	        <select name="starting_month">
                    {% for month in range(1, 12) %}
                        {% if month == event.startingDate|date('m') %}
    	                    <option value="{{ month }}" selected>{{ date('2012-' ~ month ~ '-01') |date('F') }}</option>
    	                {% else %}
    	                    <option value="{{ month }}">{{ date('2012-' ~ month ~ '-01') |date('F') }}</option>
                        {% endif %}
                    {% endfor %}
    	        </select>
    	        <select name="starting_year">
    	            {% set current_year = "now"|date('Y') %}
    	            {% set start_year = current_year - 5 %}
    	            {% set finish_year = current_year + 5 %}
                    {% for year in range(start_year, finish_year) %}
                        {% if year == event.startingDate|date('Y') %}
    	                    <option value="{{ year }}" selected>{{ year }}</option>
    	                {% else %}
    	                    <option value="{{ year }}">{{ year }}</option>
                        {% endif %}
                    {% endfor %}
    	        </select>
	        </time>
	        <input name="locationName" value="{{ event.location.name }}"></input>
	        <input name="locationAddress1" value="{{ event.location.Address1 }}"></input>
	        <input name="locationAddress2" value="{{ event.location.Address2 }}"></input>
	        <input name="locationPostalCode" value="{{ event.location.postalCode }}"></input>
	        <input name="locationCity" value="{{ event.location.city }}"></input>
	        <input name="locationCountry" value="{{ event.location.country }}"></input>
        </section>
        <nav>
			<a class="buttonRounded" href="">Save</a>
		</nav>
    </article>
{% endblock %}