{% extends "::local.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/event.css') }}" type="text/css" />
{% endblock %}


{% block title %}
    {{ parent() }} - {{ event.title }}
{% endblock %}


{% block body %}
    <article class="event">
        <h1>{{ event.title }}</h1>
    	<header>
    		<img src="{{ asset(event.cover.webPath) }}" alt="{{ event.cover.alt }}" />
    	</header>
    	<section class="txt">
	        <sumary>{{ event.introText }}</sumary>
	        <p>{{ event.text }}</p>
    	</section>
    	<section class="details">
	        <time>{{ event.startingDate|date('d F Y') }}</time>
            {% if event.location is not null %}
                <h1>{{ event.location.name }}</h1>
                <p>{{ event.location.address1 }}</p>
                {% if event.location.address2 is not null %}
                    <p>{{ event.location.address2 }}</p>
                {% endif %}
                <p>{{ event.location.postalCode }} {{ event.location.city }}</p>
                <p>{{ event.location.country }}</p>
            {% endif %}
        </section>
        
    </article>
{% endblock %}