{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/layout.css') }}" type="text/css" />
{% endblock %}

{% block param %}
    <li><a href="{{ path('fos_user_registration_register') }}">Register a user</a></li>
    <li><a href="{{ path('gospelcenterAdminGlobal_pages') }}">Dashboard</a></li>
    <li class="line"></li>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

