{% extends "::adminGlobalNew.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/processed/editImage.min.js') }}"></script>
{% endblock %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Edit a slide
{% endblock %}

{% block adminTitle %}<h1>Edit a slide</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdminGlobal_slides') }}">Slides</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdminGlobal_slides_delete', { 'slide': slide.id}) }}"
       class="delete">Delete</a>
    <a href="{{ path('gospelcenterAdminGlobal_slides') }}">Cancel</a>
{% endblock %}

{% block adminBody %}

    <form novalidate class="slide" action="{{ path('gospelcenterAdminGlobal_slides_edit', {'slide': slide.id}) }}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.image.file) }}
        {{ form_errors(form.image.file) }}
        {% if slide.image %}
            <div id="editImage" data-input="{{ form.image.file.vars.id }}">
                <img src="{{ asset(slide.image.webPath) }}" alt="{{ slide.image.alt }}" />
            </div>
        {% endif %}

        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}

        {{ form_widget(form.text) }}
        {{ form_errors(form.text) }}

        {{ form_widget(form.link) }}
        {{ form_errors(form.link) }}

        {{ form_widget(form.labelLink) }}
        {{ form_errors(form.labelLink) }}

        {{ form_widget(form.page) }}
        {{ form_errors(form.page) }}

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Save changes"/>
    </form>


{% endblock %}