{% extends "::adminLocalNew.html.twig" %}

{% block title %}
    {{ parent() }} - People
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_persons_add', {'center': center.ref}) }}" class="add">Add a contact</a>
{% endblock %}

{% block adminSubNav %}
    <li><a href="{{ path('gospelcenterAdmin_persons', {'center': center.ref}) }}" {% if (tab == 'contacts') or (tab == 'contactsAll') %}class="current focus"{% endif %}>Contacts</a></li>
    <li><a href="{{ path('gospelcenterAdmin_speakers', {'center': center.ref}) }}" {% if (tab == 'speakers') or (tab == 'speakersAll') %}class="current focus"{% endif %}>Speakers</a></li>
    {#
    <li><a href="{{ path('gospelcenterAdmin_members', {'center': center.ref}) }}" {% if tab == 'members' %}class="current focus"{% endif %}>Members</a></li>
    <li><a href="{{ path('gospelcenterAdmin_visitors', {'center': center.ref}) }}" {% if tab == 'visitors' %}class="current focus"{% endif %}>Visitors</a></li>
    #}
{% endblock %}