{% block body %}

    <h1 class="titlePage"><span>Contact</span></h1>

    <section id="map" class="map_full">
        <iframe src="http://map.gospel-center.com?geo_url=http://beta.gospel-center.com/api/locations/{{ center.location.id }}.geojson"></iframe>
        <article>
            <h1>{{ center.location.name }}</h1>

            <p>{{ center.location.address1 }}<br/>
                {% if center.location.address2|length %}{{ center.location.address2 }}<br/>{% endif %}
                {{ center.location.postalCode }} {{ center.location.city }}<br/>
                {{ center.location.country }}</p>

            <p>+41 (0)848 123 777</p>
            <a href="mailto:info@gc-montreux.org">info@gc-montreux.org</a>

            <p><a href="{{ path('gospelcenterPage_default', {'center': center.ref, 'page': 'give'}) }}"
                  class="buttonLink">Nous soutenir</a></p>
        </article>
    </section>

    <section class="formGray">
        <h1>Ecrivez nous un message</h1>

        <form>
            <fieldset class="left width1_3">
                <input placeholder="Nom">
                <input placeholder="E-mail">
                <input placeholder="Téléphone">
            </fieldset>
            <fieldset class="right width2_3">
                <textarea placeholder="Message"></textarea>
            </fieldset>
            <input type="submit" class="buttonLink"/>
        </form>
    </section>
{% endblock %}