{% extends "::admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/form.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Delete a celebration
{% endblock %}

{% block adminBody %}
    <h1>Delete a celebration</h1>
    
    <form class="delete" action="{{ path('gospelcenterAdmin_celebrations_delete', {'center': center.ref, 'celebration': celebration.id}) }}" method="post" {{ form_enctype(form) }}>
    	
    	{% set speakers = '' %}
        
        {% for key, speaker in celebration.speakers %}
            
            {% if key != 0 and key != (celebration.speakers|length -1) %}
                {% set speakers = speakers ~ ', '%}
            {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                {% set speakers = speakers ~ ' et '%}
            {% endif %}
            
            {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
            
        {% endfor %}
    	
    	<p>Are you sure you want to delete the celebration:</p>
    	<section class="details">
            <h1>Celebration of {{ celebration.startingDate|date("d F Y") }}</h1>
            <p>with {{ speakers }}</p>
        </section>
        
        <input type="submit" class="buttonRounded" value="Yes" />
        
        <a class="buttonRounded" href="{{ path('gospelcenterAdmin_celebrations', {'center': center.ref}) }}">No</a>
        
        {{ form_rest(form) }}
        
    </form>
    
    
{% endblock %}