{% extends "::admin.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
{% endblock %}

{% block title %}
    {{ parent() }} - Celebrations
{% endblock %}

{% block adminBody %}

    <h1>Celebrations</h1>
    
    <section class="tools">
        <a href="{{ path('gospelcenterAdmin_celebrations_add', {'center': center.ref}) }}">Add a celebration</a>
    </section>
    
    <table class="main">
        <thead>
            <tr>
                <th data-sort="int" data-sort-default="desc">Date</th>
                <th data-sort="int">Time</th>
                <th data-sort="string">Speaker</th>
            </tr>
        </thead>
        <tbody>
            {% for celebration in celebrations %}
                
                {% set speakers = '' %}
        
                {% for key, speaker in celebration.speakers %}
                    
                    {% if key != 0 and key != (celebration.speakers|length -1) %}
                        {% set speakers = speakers ~ ', '%}
                    {% elseif key != 0 and key == (celebration.speakers|length -1) %}
                        {% set speakers = speakers ~ ' et '%}
                    {% endif %}
                    
                    {% set speakers = speakers ~ speaker.person.firstname ~ ' ' ~ speaker.person.lastname %}
                    
                {% endfor %}
                
                <tr {% if date(celebration.startingDate) < date("now") %}class="old"{% endif %}{% if date(celebration.startingDate) < date("+6days") %}class="today"{% endif %}>
                    <td data-sort-value="{{ celebration.startingDate|date('U') }}"><a href="{{ path('gospelcenterAdmin_celebrations_edit', {'celebration': celebration.id, 'center': center.ref}) }}">{{ celebration.startingDate|date('d F Y') }}</a></td>
                    <td data-sort-value="{{ celebration.startingDate|date('Hi') }}{{ celebration.startingDate|date('U') }}"><a href="{{ path('gospelcenterAdmin_celebrations_edit', {'celebration': celebration.id, 'center': center.ref}) }}">{{ celebration.startingDate|date('H:i') }} - {{ celebration.endingDate|date('H:i') }}</a></td>
                    <td><a href="{{ path('gospelcenterAdmin_celebrations_edit', {'celebration': celebration.id, 'center': center.ref}) }}">{{ speakers }}</a></td>
                </tr>
            {% else %}
                <tr><td colspan="4">There are no celebrations.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}