{% extends "::adminGlobalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Edit an access
{% endblock %}

{% block adminTitle %}<h1>Edit an access</h1>{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdminGlobal_accesses_delete', {'access': access.id}) }}"
       class="delete">Delete</a>
    <a href="{{ path('gospelcenterAdminGlobal_accesses') }}">Cancel</a>
{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdminGlobal_accesses') }}">Accesses</a>
{% endblock %}

{% block adminBody %}

    <form novalidate class="unit" action="{{ path('gospelcenterAdminGlobal_accesses_edit', {'access': access.id}) }}"
          method="post" {{ form_enctype(form) }}>

        {{ form_widget(form.service) }}
        {{ form_errors(form.service) }}

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="Save changes"/>

    </form>

{% endblock %}