{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block title %}
    {{ parent() }} - Delete an event
{% endblock %}

{% block adminTitle %}<h1>Delete an event</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_events', {'center': center.ref}) }}">Events</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_events', {'center': center.ref}) }}">Cancel</a>
{% endblock %}

{% block adminBody %}

    <form class="delete"
          action="{{ path('gospelcenterAdmin_events_delete', {'center': center.ref, 'event': event.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <p>Are you sure you want to delete the event:</p>
        <section class="details">
            <h1>{{ event.title }}</h1>

            <p>from {{ event.startingDate|date("d F Y") }}</p>

            <p>to {{ event.startingDate|date("d F Y") }}</p>

            <p>{{ event.location.name }}</p>
        </section>

        <input type="submit" class="buttonLink" value="Yes"/>

        <a class="buttonLink" href="{{ path('gospelcenterAdmin_events', {'center': center.ref}) }}">No</a>

        {{ form_rest(form) }}

    </form>


{% endblock %}