{% extends "::adminLocalNew.html.twig" %}

{% block classPage %}{{ parent() }} single{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/processed/addImage.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/processed/editImage.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/processed/addVideo.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'gc.admin.events.edit'|trans }}
{% endblock %}

{% block adminTitle %}<h1>{{ 'gc.admin.events.edit'|trans }}</h1>{% endblock %}

{% block adminBack %}
    <a class="back" href="{{ path('gospelcenterAdmin_events', {'center': center.ref, 'domain': center.domain}) }}">Events</a>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_events_delete', {'center': center.ref, 'domain': center.domain, 'event': event.id}) }}"
       class="delete">Delete</a>
    <a href="{{ path('gospelcenterAdmin_events', {'center': center.ref, 'domain': center.domain}) }}">{{ 'gc.admin.generic.cancel'|trans }}</a>
{% endblock %}

{% form_theme form 'gospelcenterDateBundle:Form:datetime.html.twig' %}

{% block adminBody %}

    <form novalidate class="event" action="{{ path('gospelcenterAdmin_events_edit', {'center': center.ref, 'domain': center.domain, 'event': event.id}) }}"
          method="post" {{ form_enctype(form) }}>

        <section class="tab">

            <nav class="sub_nav">

                <ul class="classic">
                    <li><a href="#general" class="current focus">{{ 'gc.admin.events.tab.general'|trans }}</a></li>
                    <li><a href="#dates" class="">{{ 'gc.admin.events.tab.dates'|trans }}</a></li>
                    <li><a href="#images">{{ 'gc.admin.events.tab.images'|trans }}</a></li>
                    <li><a href="#links">{{ 'gc.admin.events.tab.links'|trans }}</a></li>
                    <li><a href="#video">{{ 'gc.admin.events.tab.video'|trans }}</a></li>
                </ul>
            </nav>

            <article class="tab active" id="general">

                {{ form_widget(form.status) }}
                {{ form_errors(form.status) }}

                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}

                {{ form_widget(form.introText) }}
                {{ form_errors(form.introText) }}

                {{ form_widget(form.text) }}
                {{ form_errors(form.text) }}

                <h2>Category</h2>
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}

                <h2>Location</h2>
                {{ form_widget(form.location) }}
                {{ form_errors(form.location) }}
            </article>


            <article class="tab" id="dates">
                {{ form_widget(form.dates) }}
                {{ form_errors(form.dates) }}
            </article>

            <article class="tab" id="images">
                <h2>Picture</h2>
                {{ form_widget(form.picture.file) }}
                {{ form_errors(form.picture.file) }}

                {% if event.picture %}
                <div id="editImage" data-input="{{ form.picture.file.vars.id }}">
                    <img src="{{ asset(event.picture.webPath) }}" alt="{{ event.picture.alt }}"/>
                </div>
                {% endif %}

                <h2>Cover</h2>
                {{ form_widget(form.cover.file) }}
                {{ form_errors(form.cover.file) }}

                {% if event.cover %}
                <div id="editImage" data-input="{{ form.cover.file.vars.id }}">
                    <img src="{{ asset(event.cover.webPath) }}" alt="{{ event.cover.alt }}"/>
                </div>
                {% endif %}
            </article>

            <article class="tab" id="links">
                {{ form_widget(form.links) }}
                {{ form_errors(form.links) }}
            </article>

            <article class="tab" id="video">
                <div id="videoContainer">
                    {% if event.video %}
                        {% if event.video.owner == "youtube" %}
                            <iframe id="ytplayer" type="text/html" width="550" height="309"
                                    src="http://www.youtube.com/embed/{{ event.video.ownerId }}?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                        {% endif %}
                        {% if event.video.owner == "vimeo" %}
                            <iframe src="//player.vimeo.com/video/{{ event.video.ownerId }}?title=0&amp;byline=0&amp;portrait=0&amp;color=89ceb7"
                                    width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                    allowfullscreen></iframe>
                        {% endif %}
                        {% if event.video.owner == "dailymotion" %}
                            <iframe frameborder="0" width="550" height="309"
                                    src="//www.dailymotion.com/embed/video/{{ event.video.ownerId }}?logo=0&info=0&foreground=EBEBEB&highlight=89CEB7&background=878787"
                                    allowfullscreen></iframe>
                        {% endif %}
                    {% endif %}
                </div>
                {{ form_widget(form.video) }}
                {{ form_errors(form.video) }}
            </article>
        </section>

        {{ form_rest(form) }}

        <input type="submit" class="buttonLink" value="{{ 'gc.admin.generic.save'|trans }}"/>

    </form>


{% endblock %}

{% block jsTemplating %}
    {{ parent() }}
    <script id="videoIframe" type="text/x-handlebars-template">
        {% raw %}
        {{#if youtube }}
        <iframe id="ytplayer" type="text/html" width="550" height="309"
                src="http://www.youtube.com/embed/{{ id }}?autoplay=0&autohide=1&color=red&controls=1&iv_load_policy=3&modestbranding=1&theme=light&showinfo=0"
                frameborder="0" allowfullscreen></iframe>
        {{/if}}

        {{#if vimeo }}
        <iframe src="//player.vimeo.com/video/{{ id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=89ceb7"
                width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
        {{/if}}

        {{#if dailymotion }}
        <iframe frameborder="0" width="550" height="309"
                src="//www.dailymotion.com/embed/video/{{ id }}?logo=0&info=0&foreground=EBEBEB&highlight=89CEB7&background=878787"
                allowfullscreen></iframe>
        {{/if}}

        {% endraw %}
    </script>
{% endblock %}