{% extends "::adminNew.html.twig" %}

{% block title %}
    {{ parent() }} - Events
{% endblock %}

{% block adminTitle %}

    {% if tab == 'nextEvents' %}
        <h1 class="switch">Upcoming events</h1>
    {% endif %}

    {% if tab == 'pastEvents' %}
        <h1 class="switch">Past events</h1>
    {% endif %}

    <ul class="adminTitle">
        <li {% if tab == 'nextEvents' %}class="current"{% endif %}>
            <a href="{{ path('gospelcenterAdmin_events', {'center': center.ref}) }}">Upcoming events</a>
        </li>
        <li {% if tab == 'pastEvents' %}class="current"{% endif %}>
            <a href="{{ path('gospelcenterAdmin_events_past', {'center': center.ref}) }}">Past events</a>
        </li>
    </ul>
{% endblock %}

{% block adminTools %}
    <a href="{{ path('gospelcenterAdmin_events_add', {'center': center.ref}) }}" class="add">Add an event</a>
{% endblock %}

{% block adminListBody %}

    <table class="main">
        <thead>
        <tr>
            <th data-sort="string">Title<span>Title<div class="arrow"></div></span></th>
            <th data-sort="string">Dates<span>Dates<div class="arrow"></div></span></th>
            <th data-sort="string">Hours<span>Hours<div class="arrow"></div></span></th>
            <th data-sort="string">Location<span>Location<div class="arrow"></div></span></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}

            {% set link = path('gospelcenterAdmin_events_edit', {'event': event.id, 'center': center.ref}) %}

            {% set date = "" %}
            {% set hours = "" %}

            {% if event.dates|length %}
                {% set date = event.dates[0]|dates(app.request.locale) %}
                {% set hours = event.dates[0].start|date('H:i') ~ ' - ' ~ event.dates[0].end|date('H:i') %}
            {% endif %}

            <tr>
                <td class="em">
                    <a href="{{ link }}">
                        <span>{{ event.title }}</span>
                    </a>
                </td>
                <td class="em">
                    <a href="{{ link }}">
                        <span>{{ date }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        <span>{{ hours }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ link }}">
                        {% if event.location %}
                            <span>{{ event.location.name }}</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="empty">
                {% if tab == 'nextEvents' %}
                    <td colspan="4">There are no events to come.</td>
                {% else %}
                    <td colspan="4">There are no past events.</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}